[2014-01-08 00:12] jukowski opened #1 "sTeX compilation fails now with"
Backslash found where operator expected at /home/costea/kwarc/localmh/ext/sTeX/sty/mikoslides/mikoslides.cls.ltxml line 29, near "DefConstructor('\"
      (Might be a runaway multi-line '' string starting on line 28)
    In Gullet[@0x368f9d0] /home/costea/kwarc/localmh/ext/sTeX/sty/mikoslides/mikoslides.cls.ltxml line 29

[2014-03-29 07:13] kohlhase opened #2 "statements.sty.ltxml: example with title fails"
in ```GenCS/source/memory/en/address-decoder.tex``` I have
[code]
and that fails with the error message that it cannot close omdoc:metadata.

And I do not understand why. without the title, things are fin.

[2014-04-09 04:34] kohlhase opened #3 "selectlanguage German does not work in gle environment (smglom.sty.ltxml)"
In the glossary the language selection in smglom.sty.ltxml does not seem to work (any more), and does not treat the umlauts e.g. `"a` correctly. As we are showing the glossary on MathHub.info now, these become visible.

The culprit is the `gle` enviornment, which takes the language specifier as the third arg. The test case is `smglom/source/identity-function.tex`

[2014-04-09 16:07] #3 closed, assigned to nobody

[2014-04-09 19:46] kohlhase opened #4 "\text make omdoc:text instead of mo in symdef"
I have
[code]
in ```smglom/smglom/source/aliquotsum.tex```, and that gives the notation
[code]
not
[code]
but I can generate that with
[code]
But somehow I had thought that I would get
[code]
hmmm, but now I am not sure.
@dginev what do you think?

[2014-04-27 05:56] kohlhase opened #5 "smultiling needs signature/binding structure for views"
We are currently debating the structure. There is already a relatively good example in `smglom/smglom/source/norm-metric.{en.,de.,}.tex` but this uses the `smglom` package, and that functionality should be moved into `smultiling`.

I will continue with establishing the infrastrucutre and sTeX syntax on the LaTeX side, then @dginev can implement functionality on the LaTeXML side.

[2014-04-27 17:12] kohlhase opened #6 "\importmhmodule problem in LaTeXML binding (multiling branch)"
I changed the interface some more for `\importmhmodule` from

[code]

to

[code]

If the path is not given then `\importmhmodule` just reverts to `\importmodule`.

When fixing up `modules.sty.ltxml` (I seem to have done that successfully)
I realized that the error I reported to you is is really a message of
incomplete implementation: We currently have

[code]

We just have to treat the case where

[2014-04-27 17:14] kohlhase opened #7 "\importmhmodule problem in LaTeXML binding (multiling branch)"
I changed the interface some more for `\importmhmodule` from

[code]

to

[code]

If the path is not given then `\importmhmodule` just reverts to `\importmodule`.

When fixing up `modules.sty.ltxml` (I seem to have done that successfully)
I realized that the error I reported to you is is really a message of
incomplete implementation: We currently have

[code]

We just have to treat the case where

[2014-04-27 17:15] #6 closed, assigned to nobody

[2014-05-05 14:29] kohlhase opened #8 "smultiling uses \symbol, which is a LaTeX primitive"
we need to find another name and use that instead.

[2014-05-13 11:20] #8 closed, assigned to nobody

[2014-05-13 11:20] #7 closed, assigned to nobody

[2014-05-13 11:21] #5 closed, assigned to nobody

[2014-05-13 11:23] kohlhase opened #9 "stex regression on smglom/mv/piecewise.tex"
I get this nasty error:

[code]

[2014-05-13 11:32] kohlhase opened #10 "\symdef makes notation definition with spurious outer brackets."
It seems that the `\symdef` macro makes notation definitions with spurious outer brackets. For instance in `smglom/mv/source/structure.tex`

[code]

generates

[code]

there the `<m:mo...>(</m:mo>` and  `<m:mo...>)</m:mo>` should be dropped.

[2014-05-13 11:35] kohlhase opened #11 "real infinite precedences in LaTeXML branch"
precedences should be allowed to be `neginfinity` and `posinfinity`  not just numbers as they currently are. Well, for LaTeX->PDF, we will just leave them as low/high numbers, but for LaTeXML we should just report them.

[2014-05-14 06:46] #11 closed, assigned to kohlhase

[2014-05-14 06:47] #10 closed, assigned to nobody

[2014-05-14 18:25] #9 closed, assigned to nobody

[2014-05-23 07:34] kohlhase opened #12 "warning"
I am getting a warning almost everywhere, I think this should be looked at.
[code]

[2014-05-23 08:28] kohlhase opened #13 "rethink parrayline in presentation"
Currently we have a rather awkward macro ```\parrayline``` in the ```presentation``` package. It takes two arguments, the first cell and the rest.  I would really like to have a simple macro ```\parrayline``` so that I can write
[code]
the macro ```matrix``` works well, I have started a macro ```\varparrayline``` but I still have problems doing the LaTeX macro. But we should have a LaTeXML binding

[2014-05-26 03:26] kohlhase opened #14 "modnl and mhmodnl forget to set the language"
In our implementation of `modnl` and `mhmodnl` in `smultiling.dtx` we forgot to set the language. We need to call a `\selectlanguage` (from the `babel` package). But things are a bit more complicated: We have a level of indirection here, since the third argument of `modnl` and `mhmodnl` is a three-level ISO language specifier and `\selectlanguage` wants a `babel` language specifier. So we need a l

[2014-05-26 05:23] kohlhase opened #15 "no generation of symbols in {modnl}"
LaTeXML generates `<omdoc:symbol>` elements from `\defi` and friends (if they are not present in the module). This is only good for monolingual sTeX.

In multilingual sTeX (i.e in a `{modnl}` environment, no `<omdoc:symbol>` elements should be generated.

[2014-06-25 09:02] kohlhase opened #16 "babel does not work in smultiling (LaTeXML side)"
There are still umlaut problems, see the "de" tab of http://mathhub.info/mh/glossary

[2014-06-27 13:31] #15 closed, assigned to nobody

[2014-06-27 14:21] #16 closed, assigned to nobody

[2014-07-14 06:08] kohlhase opened #17 "add key primary to symdef"
I have introduced the key `primary` for symdef (first optional argument). If that is set, then we should add `role='primar'` to the `<symbol` element generated.

[2014-08-05 10:38] kohlhase opened #18 "regression: \begin{modnl}{foo}{de} does not import foo.tex any more"
I managed to break `smultiling.sty.ltxml` (again) and I do not quite understand how. It seems that the argument passing for `$signature` is broken in the code for `\begin{modnl}` (`$signature` appears to be empty). I have tested that via

[code]

and this gives errors because no import of `union.tex` is taking place, and in the generated `union.de.omdoc`, we find

[code]

where we woul have expect

[2014-08-07 23:51] #18 closed, assigned to nobody

[2014-08-08 02:13] kohlhase opened #20 "allow selective sTeX packages to generate annotated html"
We should allow a variant of sTeX that generates annotated HTML5 not OMDoc as an intermediate step. That would make MathHub more appliccable. This is the tracker issue for the development.
* We should  make sure that it generates HTML that JOBAD and other MathHub services can work on.  For the MathHub issues see the MathHub issue at https://github.com/KWARC/MathHub/issues/48.

[2014-08-17 04:12] #14 closed, assigned to nobody

[2014-08-17 04:12] #1 closed, assigned to nobody

[2014-08-17 04:28] kohlhase opened #21 "modules.sty.ltxml for html"
This is a discussion issue for implementing the html version of modules.sty.ltxml; mostly for discussion with @dginev.
- We need to have a way to mark up module environments in LTXML. But there is no element that allows to do that, since modules can contain document structure like sections. So we need to extend the LATEXML schema for this I guess.

[2014-08-17 04:32] kohlhase opened #22 "statements.sty.ltxml for html"
This is a discussion issue for implementing the html version of statements.sty.ltxml; mostly for discussion with @dginev.
- We have all the statement environments, which take a common set of attributes. We would really need an analogue of `\newtheorem` from `LaTeX.pool.ltxml`, but with keyword argument passing. I guess we could just copy the code over, but that would be brittle, it would be better

[2014-08-23 08:09] #21 closed, assigned to kohlhase

[2014-08-23 08:10] #22 closed, assigned to kohlhase

[2014-08-23 08:21] kohlhase opened #23 "weird namespace prefix error in modules.sty.ltxml (html branch)"
On my `html` branch https://github.com/kohlhase/sTeX/tree/html I get an error (below) when adding a `\symdef` to `htmltest/thm.html` (currently commented out).

[code]

But I am quite sure that `htmltest/shtml.sty.ltxml` declares the `omdoc` namespace prefix.
I am stymied, please have a look.

[2014-08-23 08:31] kohlhase opened #24 "parallel markup for modules"
We need to generate parallel MathML where the content
part is just as the OpenMath we are generating now, and the presentation
MathML is what we would generate normally (for html). I think that in
OMDoc2, this is the format I would prefer in any case. Note that the
content MathML can still be re-styled by the presentation process, but
does not necessarily have to be.

[2014-08-23 10:01] kohlhase opened #25 "selecting the ltxml+omdoc.rnc schema in html mode"
@dginev please comment.

In the new approach described in #20 there is still a problem to be solved: If we want to generate OMDoc, we need set the schema ```omdoc+ltxml.rnc```  and if want to generate html, then we need ```ltxml+omdoc.rnc```. Actually (re)-setting the schema is no problem using ```RelaxNGSchema```, but we need to do it selectivelly, and I have a utility binding ```shtml.sty.ltxml`

[2014-08-23 16:24] kohlhase opened #26 "Formulas lose arguments when LaTeXML parsing fails"
Formula creation seems to have a bad regression:
in `smglom/smglom/source/summangoldfunction.en.tex` the display formula is severely shortened (only the stuff before the = remains. (note that this is partially presentational content).
in `smglom/algebra/source/commutative-ring.en.tex`, the content formula `\structure{R,+,0,-,\ast,1}` is converted to

[code]

I.e. the subsequent arguments are forgo

[2014-08-25 11:57] #26 closed, assigned to nobody

[2014-08-25 12:20] #17 closed, assigned to nobody

[2014-08-25 14:21] #23 closed, assigned to nobody

[2014-10-05 08:19] kohlhase opened #27 "weird error in minmax"
There is a weird error in `MathHub/smglom/numberfields/source/minmax.tex`. I have

[code]

and that works exactly as expected, and then

[code]

and that throws errors:

[code]

but the only difference is that min/max are switched.

I am stymied here.

[2014-10-06 17:52] kohlhase opened #29 "for attribute of <omdoc:definition> needs MMT URIs with CDs."
This is something @m-iancu and I came across today as the current "top error" in MathHub.info

Currently, we generate the names of the symbols defined in a definitions into the `for` attribute: in `MathHub/smglom/smglom/cassiniidenity.en.tex` we have

[code]

which generates

[code]

the full MMT URI `for="cassiniidentity?Cassini-identity"` there.

This is especially important in the multilingual

[2014-10-07 14:08] #29 closed, assigned to nobody

[2014-10-15 17:06] #27 closed, assigned to nobody

[2014-10-15 17:12] kohlhase opened #30 "definiendum should use the signature instead of the current module if the former exists"
another adaption to the multilingual setting.

In `smlgom/algebra/source/special-linear-group.de.tex` we find

[code]

which is transformed to

[code]

Instead of `cd="special-linear-group.de"` it should be `cd="special-linear-group"`, since we want to have the signature there.

This is generated by the `\definiendum` constructor from `statements.sty.ltxml`. The

[code]

on line 181 should probabl

[2014-10-15 17:31] #30 closed, assigned to nobody

[2014-10-15 20:37] kohlhase opened #31 "implement precedences for \napp* and \anapp* in cmath.sty.ltxml"
I have (relatively) new macros in ```cmath.sty.ltxml```. They all have precedence keys, which need to be implemented (but are not).

But I guess that before that can be implemented, I need to get clear on what this means anyways. It seems to me that we want to have a new base case for the presentation, where something like
[code]
that should be presented as
[code]
given the right current precedenc

[2014-10-30 06:44] kohlhase opened #32 "\termref without optional argument should use $signature, if that is set."
We have a problem in SMGloM. In cases where we have a `\termref` without `cd` key, we want to use the `$signature` if it is set and not `#module`. For instance, in `functions.en.tex` we have

[code]

(note that the expands to `\termref[name=total-function]{total}`) and that generates

[code]

because we are in the language binding `functions.en`. But we need to get

[code]

I think that in `statem

[2014-10-30 07:26] #32 closed, assigned to nobody

[2014-10-30 07:56] kohlhase opened #33 "\nappa should create variable"
in ```functions.en.tex``` we have ```$\nappa{f}x=y$```, which is supposed to mark up the fact that the function (variable) ```f``` is applied to the argument ```z```. I want this to generate
[code]
but it generates
[code]
because we have in ```cmath.sty.ltxml```
[code]
I have tried changing the first child of the ```XMApp``` to ```<ltx:XMTok name='#2' />```, and indeed this gives me a variable, bu

[2014-10-31 08:56] kohlhase opened #34 "implement local key for \symdef"
The ```\symdef``` macro has had the ```local``` key that made the semantic macro local to the current group by not exporting it from the module. This has never been used much, so it has never been implemented in LaTeXML. But now it is part of the ```\vardef``` concept (see #35), which is very important for SMGloM, so we should implement it.
I do not think that this should be very difficult; I gues

[2014-10-31 09:07] kohlhase opened #35 "implement \vardef"
I have added the ```\vardef``` macro to the  ```modules``` package. It is motivated and described in https://github.com/KWARC/sTeX/blob/master/sty/modules/modules.pdf?raw=true Section 2.4. The idea is that ```\vardef{nam}...``` acts just like ```\symdef[local]{nam}...``` (see #34), deposits a notation definition there and then, and defines a semantic variable. The only difference is that the gener

[2014-11-04 06:29] kohlhase opened #36 "complex bvars do not work in \symdef"
In `smlomg/linear-algebra/source/matrix.en` we have

[code]

and that generates

[code]

(elided the variant, since it is similar). It seems that the treatment of `bvar={2,3}` is wrong, since that should generate

[code]

instead of an expression ist. Correspondingly, the generated semantic macro does not work, used in

[code]

 this generates

[code]

[2014-11-04 09:32] kohlhase opened #37 "recusing into \text"
In ```smglom/numberfields/source/intarith.de.tex```, we have
[code]
the important part of this is
[code]
which generates
[code]
which is not what I want. For the moment I would settle for
[code]
I am not sure how to best specify the encoding here, but OMDoc should do fine.

I have not quite been able to test extensively, since my LaTeXML installation is quite broken, but I think this is a post-pro

[2014-11-05 13:50] kohlhase opened #38 "post-processing with big delimiters"
A new "feature" of LaTeXML is that big delimiters are handled pseudo-semantcially. I am seeing situations like
[code]
for ```\big[...\big]```. This is not the OpenMath we want, It seems to me that the post-processor should add notational hints to the content MathML instead. For instance, if we have
```f\big[...\big]```, it should generate something like
[code]
instead of
[code]
This is particularl

[2014-11-13 21:08] kohlhase opened #39 "listings warning"
In the KWARC branch of LaTeXML I get the warning
[code]
which is a bit annoying. It seems to me that the cause is that we preload ```lststex.sty.ltxml``` in ```stex-module.opt``` without preloading ```LaTeX.pool.ltxml```, which defines ```linewidth```. I am not quite sure why ```LaTeX.pool.ltxml``` is loaded exactly at this time, since ```stex-module.opt``` has the preloads sectino
[code]
I am not

[2014-11-18 01:59] #36 closed, assigned to nobody

[2014-12-05 08:27] kohlhase opened #40 "test issue fo the new students"
just testing @kohlhase

[2014-12-05 08:27] #40 closed, assigned to nobody

[2015-01-18 18:12] dginev commented on #37
Should be fixed by 8c8076ccab071b3875f9dfb4dec414bf8865f13a, reopen if otherwise.

[2015-01-18 18:12] #37 closed

[2015-01-18 18:14] dginev commented on #37
And indeed, pointing me to ```pmml_text_aux``` gave some clarity, especially after I _really_ understood the trickery it was doing.

[2015-02-10 04:23] kohlhase opened #41 "switch sTeX over to produce content MathML"
Currently sTeX produces OpenMath, but we want to switch over to strict content MathML3, which is equivalent, but syntactialy more pleasing. This entails changes in ```modules.sty.ltxml```, ```cmath.sty.ltxml```, and ```presentation.sty.ltxml``` (maybe more; have a look). Of course, this should be developed on a branch. @dginev can give advice.

[2015-02-10 04:27] kohlhase opened #42 "rework modules.sty.ltxml"
Curently, ```modules.sty.ltxml``` it is still quite convoluted, as the low-level and high-level bits are mashed together. It is a good exercise to try and rewrite bits of ```modules.sty.ltxml``` in ways that it becomes cleaner and better structured. @dginev can give advice.

[2015-02-10 04:30] kohlhase opened #43 "rewrite module loading code in modules.sty"
The code in ```modules.sty``` is very convoluted and not very clean. Most specifically the module loading code (not loading things twice). This should be completely rethought and made cleaner.

I also have the feeling that some things module are loaded twice, this should be thoroughly tested.

[2015-02-10 04:33] kohlhase opened #44 "base modules.sty on etoolbox and the new LaTeX kernel"
```etoolbox.sty``` is a relatively new LaTeX package that provides useful programming primitives. I have used one or the other in sTeX, but we should make more use of this to clean up code and make it more stable. This is probably also useful in #43.

Also, the new LaTeX3 team is re-developing the LaTeX kernel, adding useful stuff there as well. We should see this and systematically renovate sTeX

[2015-02-13 07:02] kohlhase opened #45 "make \lec work in course notes (from mikoslides.cls)"
The ```\lec``` macro from ```omtext.sty``` does not work correctly in notes mode (i.e. when the ```mikoslides``` class is called with the option ```notes``` to create the course notes: instead of starting a new line if the argument of ```\lec``` is longer than the available space on the line, it just stays on the line and creates a very overfull hbox. I have no idea why  this is (except that we ar

[2015-02-13 09:34] kohlhase opened #46 "make sTeX logs less chatty"
The logs generated by sTeX under ```pdflatex``` are too chatty. One of the problems is that we have many lines of the form
[code]
in there. I think this comes from the fact that I am writing exactly that into the ```*.aux``` files (where I indeed want that), but why oh why does this automatically get into the log as well?

The same holds for the lines
[code]
 I would like this quieted up.

[2015-02-13 09:41] kohlhase opened #47 "take care of duplicate reference warnings"
I often get warnings of the form
[code]
in sTeX log files. They seem spurious (i.e. I do not have duplicate ids in the source). They seem to come from the way I am passing id arguments in ```sref.sty```. I probably have some place, where I fail to initialize and thus an old value is used again -- thus leading to the duplication. I have looked, but never had time to really track this down.

[2015-02-13 09:48] kohlhase opened #48 "multilinguality in sTeX"
```statements.sty``` and friends generate Math Keywords, e.g. the cue "Definition" for ```{definition}``` environments. I have already introduced a level of indirection that allows the keywords to be overdefined (almost?) everywhere. You can just do
[code]
in a document, and get the variants. But there should be a set of "defaults" per language (they need to be collected) and they should be enable

[2015-02-13 13:55] kohlhase opened #49 "make proof step labeling work in sproof.sty"
Labeling of proof steps in ```sproof.sty``` does not work yet. We use a complex system of nested counters to generate th proof labels. The problem here is that when we use ```\sref@label@id```, then we do not generate the labels (and later, the counters are no longer around). I have tried to use ```\edef``` in various variants, but that leads to problems with inaccessibiltiy. We need a new idea he

[2015-02-14 06:37] kohlhase opened #50 "can we use relative paths in sTeX?"
A  couple of years ago, we standardized sTeX to use absolute paths, and I have forgotten why. The absolute paths cause a bit of problems with the ```docker``` version of ```lmh```  so may be we want to rethink this decision and try out relative paths again (or understand/document why we needed the absolute paths in the first place). Maybe @dginev can remember?

[2015-02-14 17:07] dginev commented on #50
My memory is that sTeX has always used relative paths for module includes, and we have gone through great lengths to make all implications of relative paths acceptable by LaTeXML (e.g. when pointing to images and other resources).

Where are you encountering absolute path problems?

[2015-02-15 06:52] kohlhase commented on #50
Actually, you may have misunderstood what I was trying to say. We use relative paths on LaTeXML/output side, but absolute ones in the sTeX. And I do not remember why the latter was. I guess I will have to exeriment a bit more.

[2015-02-15 18:35] dginev commented on #50
Here is an import snippet from sets-operations.tex:
[code]

To me these seem to be relative paths, but I am only now consciously realizing everything has been ported to ```\gimport``` and ```\importmhmodule```, of which I have a lesser technical understanding.

[2015-02-16 05:36] kohlhase commented on #50
Yes, ```\gimport``` and ```\importmhmodule``` internally convert to absolute paths, that is just the problem (the problem is partially solved for me, but worth rethinking anyways).

[2015-03-06 16:54] kohlhase opened #51 "includeassignment does not treat due and given correctly."
[code]
does not lead to a display of the given and due dates. But if you give them on the
[code]
 it works.
The problem is the ```\given@due``` macro in ```sTeX/sty/hwexam/hwexam.dtx``` that does not take ```\inclassig@due``` into account.

@La-Stravaganza, this is your first real sTeX assignment. Please read the code and understand as much as you can an then we can look together.

[2015-03-06 16:54] kohlhase commented on #51
you should make your private sTeX fork to work on.

[2015-03-11 05:20] kohlhase commented on #51
The test case is a file with

[code]
where ```a2.tex``` is something of the form
[code]
in this case, you should get an assignment with given ```from``` and due ```to```.

If you remove the keys from ```\includeassignment``` you should get the Sep20,,....

[2015-03-12 13:42] physikerwelt commented on #41
:+1:

[2015-03-12 18:56] La-Stravaganza commented on #51
Done. You can find it on my own fork, or I make a pull request?

[2015-03-16 15:45] #51 closed

[2015-03-19 05:08] kohlhase opened #53 "mikoslides does not do enumerate well"
The ```beamer.cls``` theme ```beamerthemeJacobs.sty``` that comes with ```mikoslides.cls``` does not do enumeration ```\begin{enumerate}``` well. This should be fixed.

@La-Stravaganza:  This is a nice intro bug to ```beamer.cls``` and  should be relatively easy to fix.

[2015-03-19 05:12] kohlhase opened #54 "generalize mikoslides away from Kohlhase"
Currently many things are hard-coded in mikoslides (e.g. ```\source``` is ```Michael Kohlhase```) this should be made more customizable, so that the class can be used more widely. We need a design first, then implementation should be relatively easy. Finally, we need to document that in ```mikoslides.dtx```

[2015-03-24 15:18] m-iancu opened #55 "\mhinputref generates relative URIs"
I.e. it generates
```<omdoc:oref class="expandable" href="../../../../root/localmh/MathHub/MiKoMH/pythagoreantheorem/source/measurements/length"/>```
 instead of
```<omdoc:oref class="expandable" href="MiKoMH/pythagoreantheorem/source/measurements/length"/>```

Alternatively, I can update the sTeX importer to support relative paths. That is not difficult just that we had previously tried to absolu

[2015-03-24 20:25] kohlhase commented on #55
I think that sTeX should be consistent here, so we should try to fix it at this level. But it is not trivial.
@m-iancu So maybe you can add the relativization code for the moment?
I had hoped it would just be a case of adding a ```@cannoical_omdoc_path```, but that is already there. I am not sure what goes wrong. Probably @dginev has to help with this again.

[2015-03-24 20:29] dginev commented on #55
Just for the record, this is not an absolute path:
[code]

Rather, it is a relative path from the base of the repository. I remember we liked those a lot, and I still like them a lot, as they read nicest and are not bound to the concrete filesystem.

This is an absolute path:

[code]

This is a trivial observation, but using the right language helps with me not getting confused :)

[2015-03-24 20:31] kohlhase commented on #55
you are completely right, what we are really looking for is a canonical path (i.e. one that cannot be shortened).

[2015-03-24 20:32] m-iancu commented on #55
@dginev indeed, though, in my defense, the base of the mathhub repository is my canonical root :)

[2015-03-24 20:36] dginev commented on #55
"Canonical" I can understand, +1 for using that word for these guys.

Any non-canonical behaviour is indeed an sTeX bug, and I would be happy to patch that (time permitting).

@m-iancu I thought so :) Although I am surprised you are happy to call unqualified paths absolute, in the URI context you still need to have a domain base (I'm guessing ```http://mathhub.info/...something.../```) to get an a

[2015-03-26 10:01] kohlhase commented on #55
do you also have an idea what goes wrong?

[2015-03-28 07:23] kohlhase opened #56 "document the mathhub access methods in the top-level stex file"
We have not talked about this globally.

[2015-03-31 08:40] kohlhase opened #57 "restrict \@requiremodules to the necessary cases"
Currently about half of the time sTeX spends on processsing is to process the gazillions of  ```\@requiremodules``` statements in the ```*.aux``` files. This poses two kinds of problems: they have to be processes.

They should only be generated if we really need them.

We only need them e.g. in case we have a section title with a semantic macro, e.g. in
[code]
Then omdoc writes ```\importmodules{f

[2015-03-31 09:26] kohlhase commented on #46
I have make progress on this, I was using ```\immediate\write\@auxfile``` for this, and  following http://tex.stackexchange.com/questions/69478/write-to-logfile it is better to use ```\protected@write```. This fixes the chattyness and speeds up things a bit.

[2015-03-31 09:26] #46 closed

[2015-03-31 11:44] kohlhase opened #58 "rethink the modules.sty loading stratety"
I think we should completely rethink the loading strategy for modules. Here are some initial thoughts @La-Stravaganza please think along.

We currently use ```\importmodule[load=<filepath>,ext=<ext>]{<mod>}``` for loading the sTeX module file ```<filepath>.<ext>```, activating the semantic macros of the module ```<mod>```, and exporting them to anything that imports the current module. The first i

[2015-03-31 11:54] kohlhase commented on #58
Oh, I see we already have the ```\module@<mod>@path``` macros just under the name ```\<mod>@cd@file@base```. This is encouraging, I only have to re-implement ```\importmodule```.

[2015-03-31 12:10] kohlhase commented on #58
But first I record how long formatting GenCS without ```searchdeccomp``` takes:
[code]

[2015-04-01 07:43] kohlhase commented on #58
I have a first version running, and that is much much faster:
[code]
There is still some things to do, e.g. fix the index; but I know how to do that.

[2015-04-01 08:10] kohlhase commented on #58
The first version is committed on branch rethinking. It also removes all the old canonicalization code.
If we have new canonicalization code, we will have to see whether we make it optional (if the canonicalization was indeed responsible for the 25 times slowdown.

[2015-04-01 11:45] kohlhase opened #59 "refactor the perl part of \defi*, \adefi* into a single (maintainable) sub"
In ```sTeX/sty/statements.sty.ltxml```  we have a lot of duplicate code (indicated above) that needs to be refactored. This should be relatively simple, but useful. I think that we should have a single ```sub``` that does it all and is called with different arguments.

[2015-04-02 11:42] kohlhase commented on #58
I have fixed all the problems that remained, and will merge the feature branch in the next days.

[2015-04-03 12:20] La-Stravaganza commented on #53
In my test case, I didn't see where is the problem:
[code]
which generates:
![selection_005](https://cloud.githubusercontent.com/assets/10081485/6981961/25bd1776-da0b-11e4-941d-feec8fecfe44.png)

I guess maybe you don't want to type ``\begin{frame}`` and ``\\end{frame}`` in the text?
Besides, without option ``notes`` will lead to a undefined control sequence ``\textleadsto`` in ``omdoc.sty``. I've

[2015-04-03 15:02] La-Stravaganza commented on #45
Done. I've made a pull request already.
I have a little trouble with cloning GenCS, when I finished, I will do a full test with GenCS notes and slides.

[2015-04-03 15:18] kohlhase commented on #53
Hmmm, then something else is causing this; I will have to investigate more deeply.

How did you fix the \textleadsto error? That was annoying.

[2015-04-03 15:24] kohlhase commented on #45
That is a very good idea. I will also give it a test.

[2015-04-03 20:23] #45 closed

[2015-04-04 13:31] angerhang commented on #39
It works for me, if we preload `LaTeX.pool.ltxml` by

    preload = LaTeX.pool

And I think you are right on the order of preloading actually leads to this warning, if we load `lststex.sty.ltxml` before we `LaTeX.pool`. The reason why `LaTeX.pool` is loaded here,  is that `LaTeXML` always starts with `LaTeX.pool` loaded if `LaTeX` specific command is recognized.

Here `latexml` realizes it is curr

[2015-04-04 21:13] angerhang commented on #59
It should be fixed now.

[2015-04-06 11:56] kohlhase commented on #59
did you do a regression test it on a meaningful subset of GenCS? If that passes, make a pull request.

[2015-04-06 12:16] kohlhase opened #61 "Reinstate Indexing in \defi*, \adefi*, (and give them a new optional last argument)"
I have changed the call pattern from ```\defi[foo]{Foo}``` for a symbol with name ```foo``` and verbalization ```Foo``` to ```\defi[foo]{Foo}[<indexkeys>]```. On the pdflatex front, the newly defined definienda are passed to an index command, which takes the ```<indexcommand>``` keys. See the package documentation of ```statements``` for details.

On the LaTeXML side, no indexing is done currently

[2015-04-06 12:36] kohlhase opened #62 "carefully check option handling in LaTeXML."
I have done some work on the package/class options on the PDFLATEX side of sTeX. I fear that the PDF and XML sides have gone out of sync on the options side (actually I am sure they have). This should be synchronized carefully. In particular the ```\PassOptionsTo{Package,Class}``` logic need to be mimicked in LaTeXML. This is a prerequisite for #61

[2015-04-06 12:37] kohlhase commented on #61
I have added the ```defindex``` package option to ```statements.sty``` (see the documentation there; it uses an internal switch to do the indexing in ```\*defi*```). You should do the same when adding the indexing back (i.e. only generate the indexing elements when the ```defindex``` option is set. But #62 needs to be done first (or with this).

[2015-04-06 14:10] kohlhase commented on #53
hmmm, indeed, I cannot reproduce the errors I was seeing, I will reopen when I can. If I can.

[2015-04-06 14:10] #53 closed

[2015-04-06 14:14] kohlhase commented on #39
OK, but what is the fix then?

[2015-04-06 18:24] angerhang commented on #39
I didn't commit the change, because I wasn't sure which repository to commit to? Should I do that on my branch of LaTeXML and make a pull request to KWARC branch of LaTeXML?
The fix is to add the line below to `stex-module.opt`:

    preload = LaTeX.pool

[2015-04-06 18:25] kohlhase commented on #39
@dginev please correct me. I think you should make a pull request for the KWARC branch, then Deyan can get it into main LaTeXML.

[2015-04-06 18:30] dginev commented on #39
Exactly, KWARC/LaTeXML is the correct repo, the stex profiles are maintained exactly there.

The stex-module profile should be preloading a class file, rather than LaTeX.pool, since LaTeX fragments ought to be rooted in a class (classes provide a bunch of initializers, e.g. for reference numbers).

Looking at:
https://github.com/KWARC/LaTeXML/blob/master/lib/LaTeXML/resources/Profiles/stex-module.

[2015-04-06 18:34] kohlhase commented on #39
hmmm, that is a bit of a problem, since there are two now: ```omdoc.cls``` for the glossary and ```[notes]mikoslides.cls``` for GenCS, ... But I guess ```omdoc.cls``` is better, since ```[notes]mikoslides.cls``` loads that (eventually).

[2015-04-06 18:35] dginev commented on #39
You can always:
 * Make two profiles
 * Pass ```--preload=desired_class.cls.ltxml --profile=stex-module``` from the command-line, that will preload the class before handling the profile.

[2015-04-06 18:36] dginev commented on #39
I think you and Bruce eventually convinced me that we want to have stackable profiles as well, so that's also a legitimate option.

[2015-04-06 18:41] kohlhase commented on #39
I think we should have the generic ```stex-module``` preload ```[book]omdoc.cls```.
We should have two more profiles then: ```mikoslides-module``` and ```smglom-module```, where the first preloads ```[notes]mikoslides.cls``` and all its dependencies and the second one also ```smglom.sty``` and so on.

[2015-04-06 18:42] kohlhase commented on #39
@dginev do we have stackable profiles?

[2015-04-06 18:53] angerhang commented on #59
There was no obvious problem.

[2015-04-06 19:51] dginev commented on #39
At the moment no. But it's easy to add.

[2015-04-08 00:01] angerhang commented on #62
While I was syncing the `\PassOptionsTo{foo}` on the LaTeXML side, I realized there were numerous packages's LaTeXML were out of date.

@kohlhase, do you think I should also try to fix the options discrepancies that other options have besides `\PassOptionsTo{foo}`?

[2015-04-08 04:26] kohlhase commented on #62
yes, please try to get an overview what the discrepancies are and try to fix them.

[2015-04-09 08:52] angerhang commented on #62
It is done.

[2015-04-11 07:09] kohlhase opened #63 "omdocpost.xsl does not cp stex:srcref for ltx:p and friends"
We get lots and lots of info warnings that there is no ```stex:srcref``` attribute for ```<xhtml:p>``` and similar. The problem is that ```omdocpost.xsl``` directly imports the LaTeXML transformation stylesheet which does not copy them. I think that we can use the fact that Bruce supplies the hook
[code]
and define that to something like
[code]
in ```omdocpst.xsl```. I only need to remember how to

[2015-04-11 07:38] kohlhase commented on #63
fixed.

[2015-04-11 07:38] #63 closed

[2015-04-12 18:37] La-Stravaganza opened #64 "Command documentation and standardization"
@kohlhase

I asked Tianlin to do  two things:
* read blue notes and understand the important macros.
* read every module defined, understand it, at the meantime, document the commands. I think this document will be really important for further writers.

Two thoughts today:

The first one:

``\trefi`` system is really annoying, a writer has to know that:

    * it is already defined
    * where it

[2015-04-13 05:19] kohlhase opened #65 "symvariant problem (association of renderings)"
I noticed a problem in ```.../smglom/functional-analysis/source/norm.tex```. It contains
[code]
and yields
[code]
as a result. It seems that the second ```\symvariant{norm}[1]``` deposits its ```<rendering>``` into the first ```<notation>``` (it contains a call to ```arg1``` which gives rise to an error); it should go into the second one (I want to distinguish by argumens). I suspect that the prob

[2015-04-13 06:54] kohlhase commented on #64
On 12/04/15 20:37, Jinbo Zhang wrote:

good.

I am not sure what "document the commands" means. We are indepenently
working on documentation.

|yes, that is so, but the value in the links is proportional to the
annoyance in making them. |

|Yes, we are working on tool support for that, but not at the level of
LaTeX. You should speak to @cjucovschi about this. |

I have the feeling that you should

[2015-04-13 14:40] dginev commented on #65
Thanks for moving, will inspect soon.

[2015-04-13 15:40] kohlhase commented on #65
wonderful.

[2015-04-14 16:06] #58 closed

[2015-04-14 16:07] kohlhase commented on #43
this is done now.

[2015-04-14 16:07] #43 closed

[2015-04-14 16:09] kohlhase commented on #39
@jucovschi independently has been playing with a profile for smglom, and preloading more significantly speeds up processing. That is another reason for making specific profiles; he will commit his profile to the KWARC branch of LaTeXML soon.

[2015-04-14 16:10] kohlhase commented on #39
Then we can clean up the profiles once we have stackable ones.

[2015-04-14 21:30] angerhang opened #67 "Synchronize *.dtx, *.cls, and *.sty in different packages."
@La-Stravaganza normally when we make changes in our packages, our approach is to change `*.dtx` and use makefile. I am afraid there are differences between our current `*.dtx` and `*.cls` and etc. Can you take a look because I am not quite sure which one to take for the differences.

[2015-04-14 21:31] angerhang commented on #67
I will try to understand the differences between `*.dtx` and bindings.

[2015-04-16 12:42] kohlhase commented on #39
@jucovschi I saw that you committed ```smglom.opt``` to KWARC/LaTeXML could you please rename that to ```stex-smglom-module.opt``` and make two new variants  ```stex-omdoc-module.opt``` (preloads ```omdoc.cls```) and ```stex-slides-module``` (preloads ```mikoslides.cls```).

[2015-04-16 13:42] jucovschi commented on #39
done.

[2015-04-16 15:58] dginev opened #68 "Inconsistent sTeX conversion output"
@cmaeder reports:
[code]

[2015-04-16 16:02] cmaeder commented on #68
see https://github.com/KWARC/LaTeXML/issues/5#

[2015-04-16 16:16] dginev commented on #68
I can reproduce with lmh, here is the diff:
[code]

It is not a daemon bug, most likely an issue with the sTeX schema or post-processing.

[2015-04-16 16:36] dginev commented on #68
This is actually the opposite of a daemon bug - while the same instance of latexmls is running, the output is consistently the same. However, upon starting a new latexmls instance, there is a chance that either output could be generated.

That leads me to think that the way the sTeX schema is being read in by LaTeXML has some non-deterministic element.

[2015-04-16 16:42] cmaeder commented on #68
Another odd example is emptyset.tr.tex where the line `error : string is not in UTF-8` is emitted sometimes eight times and other times nine times. (Only a single character is actually wrong.)

[code]

[2015-04-16 17:00] dginev commented on #68
I have tracked the naive LaTeXML bug and sent a patch to Bruce. For next time, file as an sTeX issue from the start, naming an example file and the diff.

[2015-04-19 11:15] angerhang commented on #67
When I was making the choices, I considered the code from `*.dtx` to be the one that we want, but we should keep in mind that if anything strange happen in the future, this change might be worth of a look

[2015-04-19 11:15] angerhang commented on #67
This is done.

[2015-04-19 11:15] #67 closed

[2015-04-21 06:30] #62 closed

[2015-04-21 17:43] cmaeder commented on #68
I still get differences after https://github.com/KWARC/LaTeXML/commit/2712b60f416cec8dd419cb63de32faef7a681587 and https://github.com/KWARC/sTeX/commit/46de899602a6688efe7e55423791fb406d5b6756

[code]

[2015-04-21 17:48] cmaeder commented on #68
and even a third version for `smglom/mv/source/defeq.de.tex`

[code]

[2015-04-21 18:08] dginev commented on #68
Perfect, I love seeing the reports here! Just pushed 711a139 , should be a fix.

Btw, in case you are curious, the sTeX bugs are caused by a Perl feature for non-deterministic retrieval of hash keys, explained in detail here:
http://blog.booking.com/hardening-perls-hash-function.html

[2015-04-22 05:01] kohlhase opened #69 "bug in numberIt"
We have a new plaything (the MathHub error viewer now runs on GenCS; see https://mathhub.info/mh/common-errors), so we find new bugs in sTeX. Here is the first one. When I run ```latexmlc``` on ```MathHub/MiKoMH/GenCS/source/atp0/en/resolution-example.tex``` I get the error
[code]
This is in the ```numberIt``` sub, something to do with computing locators, which surprises me, since we have a separa

[2015-04-22 05:03] kohlhase commented on #69
Oh, I should probably say this happens in 73 other occasions on GenCS. Look for the "Perl died" error in  https://mathhub.info/mh/common-errors

[2015-04-22 07:29] kohlhase opened #70 "retire the tikz.sty.ltxml from sTeX."
We have an old ```sTeX/sty/etc/tikz.sty.ltxml``` at a lot of errors of the form
[code]
in https://mathhub.info/mh/common-errors. This is the old tikz.sty mockup via tex4ht you made as a tikz stop-gap. Should that not be retired in favor of the real tikz that comes with LaTeXML nowadays?

Background, I am mostly using ```tikziput.sty.ltxml``` nowadays, where tikz is not called (the tikz is converte

[2015-04-22 08:34] cmaeder commented on #70
After https://github.com/KWARC/sTeX/commit/9d3eea12f0754cd163a5a21e50d027ef207fd08d I needed to `sudo apt-get install pgf` to avoid the error:

[code]

[2015-04-22 08:34] kohlhase commented on #70
We are always presupposing a full texlive install :-).

[2015-04-22 09:16] cmaeder commented on #70
There's even a `texlive-full` Ubuntu package that would install the following additional packages:
[code]

My current `dpkg -l | fgrep texlive` output is the following

[code]

Maybe we could try to collect the really required packages gradually.

[2015-04-22 09:56] cmaeder commented on #68
Yes, thanks, that fixed many differences in smglom/mv (after https://github.com/KWARC/sTeX/commit/9d3eea12f0754cd163a5a21e50d027ef207fd08d)!

It became noticeable slower though, but probably due to Michael's additional changes (see #70)

However, there are still differences between runs of `latexmlc` that use `latexmls` (via the --expire option) and those that don't (without `--expire=10`). The la

[2015-04-22 10:27] cmaeder commented on #68
Even the `.ltlxlog` files are identical if latexmlc is called with the `--quiet` option (otherwise dates and loading times differ)!

[2015-04-22 10:58] kohlhase commented on #68
As to the slowdown, I am quite sure that has to do with the retirement of tikz.sty.ltxml, which is not preloaded in ```smglom.opt``` and the others. We should do that. More on this in #70. I guess we can close this issue then.

[2015-04-22 11:01] cmaeder commented on #68
Should we not prevent `approxeq?approximately-equal` appearing in `defeq.de.omdoc`? (We could make a new issue, though, if we close this one.)

[2015-04-22 11:03] kohlhase commented on #68
Oh, that is correct. Please make a new issue, this is a separate problem.

[2015-04-22 11:27] cmaeder opened #71 "latexmls leaks its state into .omdoc output"
see https://github.com/KWARC/sTeX/issues/68#issuecomment-95105847

`approxeq?approximately-equal` may appear in the `for`-attribute of a `omdoc:definition`-element of `defeq.de.omdoc`, although `defeq.de.tex` is unrelated to i.e. `approxeq.de.tex`.

I can reproduce it using https://svn.kwarc.info/repos/MMT/src/stex-mmt/run-latexml.sh:

[code]

[2015-04-22 12:40] cmaeder commented on #71
even repeated names may be generated by latexmls:

[code]

Correct is a `for="approxeq?approximately-equal" `.

[2015-04-22 13:23] cmaeder opened #72 "the latexml server's (latexmlstomp) start directory determines omdoc:imports elements"
In order to get comparable omdoc output (for git@gl.mathhub.info:smglom/mv) using https://svn.kwarc.info/repos/MMT/src/stex-mmt/smcomp.py by calling `./smcomp.py mv` the server(s) `latexmlstomp &` must be started in the corresponding "source" directory. If they are started in the parent directory the difference is as follows:

[code]

I'm not sure what the `from` attribute is supposed to refer to

[2015-04-22 14:30] dginev commented on #71
This could be a real bug with latexmls daemonization, those are very valuable to record since having an isolated conversion frame is crucial. Looks pretty interesting, I will investigate soon.

[2015-04-22 20:12] kohlhase opened #73 "lmh depcrawl regression"
```lmh depcrawl``` wrongly complains, I get
[code]

[2015-04-23 14:04] kohlhase opened #74 "\text still not quite right"
I think the issue was on the KWARC LaTeXML fork, so I cannot reopen it now. So I will make it here, since it is between sTeX and LaTeXML. The result of converting ```\text{...}``` is still not quite rigth. In ```MathHub/smglom/numberfields/source/intarith.en.tex``` we have ```\text{$\inset{a}\NegativeIntegerNumbers$```, which yields
[code]
There are two problems with this. Instead of
[code]
which

[2015-04-23 14:05] kohlhase commented on #74
@m-iancu fyi

[2015-04-23 21:41] angerhang commented on #69
Correct me if I am wrong.
When I run `latexmlc` on `MathHub/MiKoMH/GenCS/source/course/en/grading.tex`
This is the change I made in `numberIt`
[code]
I got one entry whose `$whatsit` is not defined (source of Perl' death)

[code]
I think there has to do with bug with namespace or with some elements that weren't properly wrapped?
I couldn't trace it further.

[2015-04-24 05:21] kohlhase opened #75 "numberit and locateit can only go together"
it seems that ```locateit``` only works if ```numberit``` is specified as well. Is this intended?

Is there a way to call them in one function? Probably not, since one is before and the other after.

 What if we do not want to number?

[2015-04-24 14:10] kohlhase opened #76 "numberit problem"
when I convert ```MathHub/MiKoMH/GenCS/source/course/en/CS-sample-performance.tex``` I get the error:
[code]
I am assigning this to Hang, but @dginev would you please supervise?

[2015-04-24 15:30] dginev commented on #75
As far as I remember you need to have hooks in both afterOpen and afterClose so that you can try to approximate the start and end locations for that XML element.

If you don't want to always number, you can probably splinter numberIt into two subroutines, one that does numbering and one that doesn't, and choose from the accordingly.

[2015-04-24 15:39] dginev commented on #76
There are other errors I am seeing in that file, preceding the Fatal, which could be causing an empty whatsit to be generated for that table entry. If that happens, the Fatal would trigger.

The defensive improvement that is needed in any case is to change the calls to ```$whatsit ``` in both numberIt and locateIt, to:
[code]
and
[code]

I will let @angerhang add these changes. [Short-circuit eval

[2015-04-24 15:58] dginev commented on #75
So, refactoring is possible, but you will always need to hook in both places for easy access to the location-holding objects.

However, this is Perl we are talking about. So you can make a new subroutine:
[code]

Aliases are perfectly ok.

[2015-04-24 17:34] kohlhase opened #77 "inlinedef problem"
Another undefinedness problem, this time in ```\inlinedef``` in ```MathHub/MiKoMH/GenCS/source/SML/en/SML-prog-effects.omdoc```. This can probably be healed similarly to #76, assigning to Hang, asking @dginev for supervision.
[code]

[2015-04-24 23:13] La-Stravaganza opened #78 "Path Canonicalization"
I found a package called ``currfile`` which could generate the absolute path of a tex file. [Manual here](http://www.ctan.org/pkg/currfile)

Here is a demo usage I made.

[code]

which generates:
![selection_019](https://cloud.githubusercontent.com/assets/10081485/7330021/9e55643a-eae7-11e4-9ae2-372b41cc298c.png)

**Note: use ``-recorder`` option when compiling.**

Besides the very last example, i

[2015-04-24 23:29] angerhang commented on #76
@dginev @kohlhase thanks for both of your supervisions.

[2015-04-24 23:30] angerhang commented on #76
I just submitted a pull request and I think #69 should also be solved with this fix.

[2015-04-24 23:51] dginev commented on #76
Btw, a note - we have hidden the Fatal errors, but we haven't resolved the underlying errors. But I think this won't bite us, as the files in question had a number of other error messages generated, so there are plenty of clues to correct the deeper problems.

[2015-04-25 03:25] kohlhase commented on #78
Good that you are looking around for existing solutions. I was (vaguely) aware of the ```currfile``` package, but i convinced myself that it does not help us. In particular, it
* does not canonicalize paths.
* uses the underlying operating system (I do not want that for security concerns).
I fear that unless you turn up something else, we will need to program canonicalization ourselves.

[2015-04-25 14:38] angerhang opened #80 "Bug onlyPreamble in LaTeX.pool.ltxml"
This is the example I use
[code]
and I get
[code]
which also occurs at 44 places https://mathhub.info/mh/common-errors.

I think the onlyPreamble function doesn't work properly in the following three places from LaTeX.pool.ltxml:
[code]
[code]
[code]

[2015-04-25 14:39] angerhang commented on #80
This is a perquisite for #61 .

[2015-04-25 14:45] angerhang commented on #80
@dginev
I don't know if this is also a LaTeXML core issue.

[2015-04-25 16:21] kohlhase commented on #80
No, this is a ```lmh``` issue, (see
https://github.com/KWARC/localmh/issues/225)

It used to be that ```lmh``` could distinguish between modules and
documents and use the profiles ```stex.opt``` and ```stex-module.opt```
accordingly, now it only uses ```stex-module.opt``` and that leads to
exactly these errors.

On 25/04/15 16:45, angerhang wrote:

--
----------------------------------------------

[2015-04-25 16:22] kohlhase commented on #80
So all is good (or will be when ```lmh``` is repaired.

[2015-04-25 16:22] #80 closed

[2015-04-25 17:07] angerhang commented on #80
I see.

Thanks for the clarification.

[2015-04-27 22:11] angerhang commented on #77
Indeed the source of error is the similar to we what have in #76 , calling a function on an empty element, and we can fix it by:
[code]
I also see this type of protection mechanism appearing for many other cases.

@dginev shall we make this change, and hopefully solve this by fixing other problems or shall we try to tract this underlying error from here?

[2015-04-27 22:27] dginev commented on #77
Note that the defensive treatment is only silencing the error, not fixing it. However, we never want to see Perl die in the middle of conversion, so we should add some kind of defensive mechanism in any case.

But I would advocate for tracing down the exact issue and fixing it now, before we forget about it and have it cause a different surface error. We will add another degree of separation that

[2015-04-28 04:27] kohlhase commented on #77
Would it be a good idea to issue a warning or an error here? in the if not branch? That way the problem is still documented.

[2015-04-28 05:36] kohlhase commented on #75
thanks for the clarification, I think then this is not worth the hassle (at the moment).

[2015-04-28 05:36] #75 closed

[2015-04-28 11:19] angerhang commented on #77
I was trying to mimic other warning messages, by
[code]
and I got
[code]
which does not point out what the exact warning position is. Is there anything I am missing ?

[2015-04-28 15:06] dginev commented on #77
The LaTeXML API has a handy set of methods that you should be using, but this should probably be an error rather than a warning. Here's one example how to invoke Error():
https://github.com/brucemiller/LaTeXML/blob/master/lib/LaTeXML/Package/LaTeX.pool.ltxml#L100

And the general API is documented here:
http://math.nist.gov/~BMiller/LaTeXML/manual/commonmodules/LaTeXML_Common_Error.html

[2015-04-29 04:48] kohlhase opened #82 "rework \requiremodules"
We have the paths in ```\requiremodules``` and ```\@requiremodules``` as a separate argument, which lets it get lost. Work it into the paths themselves. Maybe we can also get rid of the ext attribute that way.

[2015-04-29 06:49] kohlhase opened #83 "finally design a way to handle plurals and inflection in \defi* and \trefi"
The current situation of marking up defininienda and term references in sTeX has grown over time and needs to be redesigned in the light of our now extensive experience. One of the current problems is handling plurals and inflection.

## the Status Quo

Currently ```\defi*``` and ```\trefi*``` do not handle plurals and inflections very well - actually at all. We want to say something like "for all

[2015-04-30 14:39] angerhang commented on #77
Thanks for the instructions.

I just made a pull request. Would you mind having a look?

[2015-05-02 16:01] angerhang commented on #77
@dginev
I am suspecting
[code]
is not finding nodes, but I don't quite know how to see the intermediate result to confirm this. Is there a way to let sTeX generate the intermediate result while generating `*.omdoc`?

[2015-05-02 16:03] angerhang commented on #77
I don't know if this will bring any harm or not, but I wonder if it would be cleaner to find nodes using:
[code]

[2015-05-02 16:06] dginev commented on #77
Yep, that is the bit of code failing. If you want to take a look at the document, just print it out in that block of code.
[code]

As to your second comment, the reason the code looks ugly is that the obvious APIs were not working the way I expected them to (4-5 years ago). You can try improving, but be prepared to investigate empty results due to unregistered namespaces (the XPath used to always

[2015-05-03 10:04] angerhang commented on #77
The intermediate results seems overwhelmingly complex. Didn't expected thousands of lines of output, but it does help me with deeper understanding of LaTeXML.

[2015-05-03 10:51] angerhang commented on #77
It turns out that, the `findnode` method per se works properly, and thus in the example Michael provides, `MathHub/MiKoMH/GenCS/source/SML/en/SML-prog-effects.omdoc`, `inlinedef` is perfectly fine in `omtext`:
[code]
 but not in `itemize`:
[code]
because `itemize` doesn't generate node `omdoc:CMP` in `omdoc` but `omtext` does.

[2015-05-03 19:33] angerhang commented on #77
After testing if we have something like
[code]
`inlinedef` works fine too. So this bug has something to do with the itemize environment outside of omtext, because `itemlize` environment is no longer encapsulated by `omdoc:CMP` anymore.

So when encountering this kind of situation, shall we create a `omdoc:CMP` node if it is not found or shall we encapsulate `itemlize` environment within `frame` wi

[2015-05-11 12:04] cmaeder commented on #68
@dginev I thought you would close it, but since you did not, I'll do it now.

[2015-05-11 12:04] #68 closed

[2015-05-11 12:16] cmaeder commented on #74
`&#xa0;` is a non-breaking space equal to `&#160;` or `&nbsp;` (http://en.wikipedia.org/wiki/Non-breaking_space)

[2015-05-11 18:22] La-Stravaganza opened #84 "Could we switch the engine from XeLaTeX to LuaTeX?"
The reason why we change from ``pdfLaTex`` to ``XeLaTex`` is that, ``XeLaTeX`` offers a better support for ``UTF-8`` character, which will help us in Chinese module.

``LuaTeX`` also supports this point well, as I tested, no problem dealing with Chinese characters.

As the manual said,

![selection_022](https://cloud.githubusercontent.com/assets/10081485/7571835/7ac80a6e-f81a-11e4-8eba-1cb7db0cdb1

[2015-05-11 18:27] dginev commented on #84
I would advocate strongly against adding lua to the mix of programming capabilities we have, unless there is a very compelling reason to do so. We should strive to simplify when we can, not make things additionally complex.

Why do you need lua?

[2015-05-11 19:35] La-Stravaganza commented on #84
Since my recent task is to write a path canconicalizer, probably will use some recursion function. Using tex is a little ugly, so I prefer Lua as an alternative.

As I said, Lua is only a complement, not for essential parts. Also Lua is much modern than TeX, much easier to create and maintain complicated programs. Pure TeX programming is not intuitive at all, that's why we want to modernize the or

[2015-05-11 20:23] dginev commented on #84
I agree that writing LaTeX programs requires is difficult and horribly out of date with 2015 best practices. However, if you are writing LaTeX packages you should be writing LaTeX, not Lua, Python, Perl, etc. as you are injecting dependencies in the setup. Before you only needed the TeX interpreter, now you need the TeX interpreter + Lua.

That is a trade-off you could *choose* to make, but you sh

[2015-05-11 20:57] La-Stravaganza commented on #84
It is indeed a trade-off, that's why it deserves the discussion here. LuaTeX is integrated in TeXlive(should also in MacTex and MikTex), so the one who install TeXlive will also have LuaTeX, it is just a switch thing. LuaTeX is a superset of pdfLaTeX, so there won't be compatible problems.

LuaTeX is emerging, we all agree that pdfLaTeX is kind of out-dated, even though it is still the mainstream.

[2015-05-11 21:17] dginev commented on #84
I was just looking into Michael's dfgprpoposal package today, which apparently has some (partial?) dependency on sTeX. And that package is intended as a mainstream TeX package, apparently used by a lot of researches writing DFG grants.

As I said, personally I would rather not switch over carelessly to a pdflatex-incompatible setup. I am unsure if you really need to have path canonicalization as a

[2015-05-11 21:31] La-Stravaganza commented on #84
Michael insists on that, I also think it is necessary and straightforward to avoid multiple loading. My part of job is to write an individual package, which offers a path canonicalization functionality. Michael will decide which packages in sTeX will use this functionality. It's normally unnecessary for some packages like dfgproposal.

[2015-05-11 21:35] dginev commented on #84
Here is an alternative that would allow you to directly copy-paste the path canonicalization code used by LaTeXML while still using pdflatex:
https://www.ctan.org/tex-archive/macros/latex/contrib/perltex

[2015-05-11 22:02] La-Stravaganza commented on #84
Thanks, I will take a deep looking.

[2015-05-12 04:22] kohlhase commented on #84
Let me chime in on this with two statements:
* I do not want to make LuaTeX the only engine, it is indeed an interesting approach, but a niche technology without a large community. The reason I support the ```pdflatex``` route at all is that it is (relatively) hassle-free for people to install. One niche technology (LaTeXML) is enough for one project. For the same reason I do not want to use perlt

[2015-05-12 04:24] kohlhase commented on #84
That being said, it is good that Jinbo is looking for alternatives. But I think that luatex is not one of them.

[2015-05-12 04:24] #84 closed

[2015-05-12 05:50] kohlhase commented on #77
The situation is the following (see the OMDoc schema at ```.../ext/sTeX/schema/rnc/omdoc*.rnc``` in particular the "Rich Text" module ```omdocrt.rnc```):
* the ```<o:omtext>```, ```<o:assertion>```, ...  elements (called "statements") have a ```<o:CMP>``` element that acts as a container for ```<h:p>```-like XHTML markup.
* ```\inlinedef``` (and other inline statements like ```\inlineex```) goes t

[2015-05-12 07:10] kohlhase commented on #77
this should be fixed by the recent merge request.

[2015-05-12 07:10] #77 closed

[2015-05-12 07:12] kohlhase commented on #76
I think this is fixed, please close if that is correct.

[2015-05-12 07:12] kohlhase commented on #74
@angerhang could you have a look at this, @dginev should supervise.

[2015-05-12 07:14] kohlhase commented on #73
wrong issue tracker, sorry

[2015-05-12 07:14] #73 closed

[2015-05-12 07:16] kohlhase commented on #70
I had retired it a while ago, and no adverse effects (except the slowdown by not preloading it) has been visible. closing.

[2015-05-12 07:16] #70 closed

[2015-05-12 07:17] kohlhase commented on #69
what is the state of this issue? Is this fixed with the recent pull request, if so, please close.

[2015-05-12 07:18] kohlhase commented on #57
this is done.

[2015-05-12 07:18] #57 closed

[2015-05-12 07:19] kohlhase commented on #48
I think I solved the problem on the LaTeX side, now we need to do the LaTeXML side. @angerhang we should discuss this.

[2015-05-12 07:22] kohlhase commented on #39
@dginev If I understand correctly, then your recent change at https://github.com/brucemiller/LaTeXML/pull/604 fixes this as well?

[2015-05-12 09:51] wolfram1 commented on #83
Dear Michael,

the handling of singular and plural forms with
     \atrefi
is short but I'm afraid also to obscure for the normal editor. And you have named the difficulty with linking. So I prefer the full forms of singular and plural forms of a glossary term.
Moreover, your proposal for using
    \mtrefi
instead of
    \atrefi
would be a further simplification of SMGloM (I don't see any disadvan

[2015-05-12 14:52] dginev commented on #39
Not sure, haven't tested. That pull request simply makes sure to load the entire listings library, with all listings language definitions, when listings is preloaded. Not sure if that relates to this issue's problem.

[2015-05-12 15:33] La-Stravaganza commented on #84
I get it. I will focus on the current way.

[2015-05-12 16:58] La-Stravaganza opened #87 "A question about string equality"
[code]

will give me “Not Equal”, how can I get equal?

[2015-05-12 17:10] dginev commented on #87
You should grab the TeX book from the IRC, it's a wealth for explaining this fine intricacies. Though by now StackExchange is also great:
http://tex.stackexchange.com/a/31656/78008

The trick you can do is to define ```\c``` via ```\edef``` so that you compare the fully expanded tokens. Here is an example:
http://latexml.mathweb.org/editor?tex=%0A%5Cdef%5Ca%7Babc%7D%0A%5Cdef%5Cb%7Babc%7D%0A%5Cedef

[2015-05-12 17:22] La-Stravaganza commented on #87
Thanks Deyan! TeXbook is already on my hand.

[2015-05-12 17:22] #87 closed

[2015-05-12 17:22] angerhang commented on #76
As Deyan said, we just hid the Fatal error, but for now this can be closed.

[2015-05-12 17:22] #76 closed

[2015-05-14 13:01] kohlhase commented on #83
[Here is a comment from Heinz that was in my inbox instead of on the
issue tracker. I am adding it here for completeness]

I hope I got everything right which you touch upon.
Notational convenience is certainly "a big concern"
(I hope you mean that at the end of the \adefi-chapter
where you say it's "a bit concern").

I have just begun to reflect on these issues,
I think a quick answer is not easy

[2015-05-23 07:20] kohlhase opened #89 "integrate the new path canonicalization into modules.sty (relative paths)"
We want to avoid duplicate loading of module signatures in sTeX (```modules.sty```). Currently in ```\@importmodule```, we test if we have seen the path already (the line with ```\IfStrEq```, and that does not really work with relative paths, which can be non-canonical). Actually, we cannot do relative paths at all at the moment (they are relative to the current file; we need to compose the load p

[2015-05-23 07:21] kohlhase commented on #78
this is irrelevant now.

[2015-05-23 07:21] #78 closed

[2015-05-23 07:23] kohlhase commented on #65
@deyan, I hate to push, but could you have a look at this (soon:-))

[2015-05-23 16:46] dginev commented on #65
ok, will try to get it done today

[2015-05-23 16:47] kohlhase commented on #65
that would be wonderful

[2015-05-24 02:10] dginev commented on #65
I am not seeing that file in smglom. Could you check it it's committed?

[2015-05-24 13:36] kohlhase commented on #65
yes, it it committed, you can see it online at https://gl.mathhub.info/smglom/functional-analysis/blob/master/source/norm.tex

[2015-05-24 14:07] dginev commented on #65
I am not seeing the functional-analysis repository locally, and lmh seems to break when I try to update. Could you recommend the right lmh command to get that repo?

[2015-05-24 14:10] kohlhase commented on #65
I think you should get it with ```lmh install smglom/functional-analysis```.
Otherwise you can just
[code]
that may need some other repositories, which can be cloned similarly.

[2015-05-24 15:05] dginev commented on #65
Ok, took a look. The symvariant is indeed bound to the first applicable notation it find, looking at its name attribute:
[code]

I can't understand why the above example should be valid OMDoc. The notations have clashing names, which makes everything very problematic.

[2015-05-24 15:22] kohlhase commented on #65
It is not a problem to have multiple notations per symbol. Indeed this is something we want to have.

[2015-05-24 15:31] kohlhase commented on #65
I think I know what the problem is. In the LaTeX we group the notations via the TeX macro. In the OMDoc we do not have that level, but need to coordinate the right prototypes with the renderings.
The problem is that the code you quote above looks for the right name only, but should also take the number of arguments into account.
We could fix this by adding an attribute ```args=``` and using
[code]

[2015-05-24 15:43] dginev commented on #65
Except that we don't record the args on the notation element at the moment.

[2015-05-24 15:46] dginev commented on #65
The simplest fix for your example would be to take the last matched notation, rather than the first one, then we have simple shadowing of notations with clashing names. Which would force you to define any variants before you define a notation with a clashing name.

Now that I think of it, recording the number of arguments as an attribute on the notation element in OMDoc would be one way of adding

[2015-05-24 15:59] kohlhase commented on #65
yes, my intention was that we also record the args in the notations. We do have the information right?

[2015-05-24 16:00] dginev commented on #65
Hm, it turns out the attribute name is ```nargs``` and it doesn't make it to the OMDoc, but is present in the intermediate XML representation. Should be done with this in a little bit.

[2015-05-24 16:23] dginev commented on #65
I may need to add the attribute to the ```omdoc:notation``` schema definition, or use a ```stex:nargs``` attribute instead. It seems LaTeXML is quite strict with following the schema, as the ```nargs``` attribute gets dropped from the DOM quite early right now.

[2015-05-24 16:28] kohlhase commented on #65
I guess ```stex:nargs``` is the best for now.

[2015-05-24 17:28] dginev commented on #65
Fixed via a467c19d8e94d61284a43a920e42dec29010808b
@angerhang should be able to understand the changes, it's a very nice example of an sTeX enhancement:
 * I moved the ```macro_name``` and ```nargs``` attributes into the foreign ```stex:``` namespace, which allowed them to get recorded onto the final OMDoc (as they aren't in the OMDoc schema and were being thrown out)
 * Next, I extended the XPath

[2015-05-25 05:42] kohlhase commented on #65
@dginev thanks a lot.
@angerhang please have a look at the problem solution (once the finals are over).

[2015-05-25 08:06] kohlhase opened #90 "schema problem"
In ```.../MathHub/MiKoMH/GenCS/source/search/en/genetic-algorithms.tex``` I get an error I do not understand. It seems to be a model problem.
[code]
I have no idea what is happening, this may even be a LaTeXML problem?

[2015-05-25 14:04] dginev commented on #90
That may well be, @brucemiller does that message ring a bell? Any clues as to why would a ltx:inline-block be inside a libxml XMLFragment ?

[2015-05-25 21:45] angerhang commented on #65
Will take a look after my last final on Thursday : )

[2015-05-25 21:52] dginev commented on #65
Best of luck with wrapping up finals to both @angerhang and @La-Stravaganza ! Don't do too much sTeX until you're finished :)

[2015-05-25 21:54] angerhang commented on #65
Haha thanks Deyan.

[2015-05-25 21:57] La-Stravaganza commented on #65
Thanks!

[2015-05-26 04:13] kohlhase commented on #65
I second @dginev's sentiment! good luck.

[2015-05-26 11:01] angerhang commented on #65
Thank you too Michael : )

[2015-05-29 04:55] kohlhase opened #91 "preloading tikz and listings"
There has been a fix in Bruce's LaTeXML branch which (I hope) allows to preload all of listings.sty.ltxml and tikz.sty.ltxml with all their dependencies. This should speed up conversion by a large factor, so I had hoped that this would find its way into the KWARC branch, but we still seem to be re-loading the dependencies every time.
@dginev could you please clarify?

It seems that ```lmh``` still

[2015-05-29 09:09] angerhang commented on #65
Hmm one question came to my mind, when I looked at the solution to this issue.

Similar to how LaTeXML processes `$nargs` which gets dropped from the DOM, how do we know when one `element | attribute` gets generated and when this `element | attribute` gets dropped out?

[2015-05-29 11:34] dginev commented on #65
They need to be in the OMDoc schema. Best way to check that is to look at the zoo of ```.rnc``` files which define the schema. There is also a rather impressive "OMDoc book" document that you should read at least partially, so that you get the intuition behind OMDoc. Michael can help with all that.

[2015-05-29 12:15] dginev commented on #91
You can preload listings with all its dependencies but not tikz. As long as you are using --preload, listings now auto-magically loads all language definition files, so that you never need to load anything during the actual conversion runs.

We need something similar for tikz, but preloading *all* of tikz will be rather slow. There are many libraries and each takes tens of seconds to load with LaT

[2015-05-29 14:26] angerhang commented on #65
I see. Thank you.

[2015-05-31 15:25] kohlhase commented on #91
In what way is ```tikz.sty``` so different from ```listings.sty```? Is it the libraries?

But if I understand correctly, preloading the core tikz should be possible (i.e. all that is loaded by ```\usepackage{tikz}```). And then we need something for the libraries that are loaded with ```\usetikzlibrary``` they should be preloaded separately (if they are needed).

[2015-05-31 15:41] dginev commented on #91
Well, tikz does a lot more than listings, and it is much larger, making it a lot slower to load. Also, the raw TeX loading is a much bigger component for tikz than it is for listings.

You can already do ```--preload=tikz.sty``` to get the core library, and it should be possible to do something like ```--preload='literal:\usetikzlibrary{foo}``` to get the libraries loaded on the side, but I haven'

[2015-06-02 09:17] La-Stravaganza opened #92 "replace metakeys with pgfkeys"

[2015-06-04 12:11] cmaeder opened #93 "make test work"
Trying to run the additional tests of https://github.com/KWARC/LaTeXML (as compared to https://github.com/brucemiller/LaTeXML - see https://travis-ci.org/cmaeder/LaTeXML/builds) leads to failure of `t/921_stex.t` with STEXSTYDIR pointing to (a checkout out versions of) https://github.com/KWARC/sTeX/tree/master/sty

 https://travis-ci.org/KWARC/LaTeXML/builds

btw `t/96_marpa.t ........... skipped:

[2015-06-04 23:25] La-Stravaganza commented on #92
**So what did ``metakeys`` do?**
1. ``\addmetakey[initial value]{group}{key}[value when no value passed]'`` will define ``\group@key``, with ``initial value``.
2. ``\metasetkeys{group}{key1=value1, key2, key3=value3 ...}`` will set ``\group@key1``, ``\group@key3`` with their values.  For ``key2``, if *[value when no value passed]* is defined, then ``\group@key3`` will be set to this value.

**What

[2015-06-08 12:43] La-Stravaganza commented on #92
We noticed that ``pgfkeys`` doesn't reset key values when we set new values, which is important for us. So we decide to temporally close this issue. If ``pgfkeys`` will benefit our works in the future, we will do this at that time.

[2015-06-08 12:43] #92 closed

[2015-06-11 22:36] brucemiller commented on #90
This ended up in my spam folder, and I just noticed it. That's one of libxml2's mysteries, but I suspect that somewhere you (or I) have done something with an xpath that managed to select a fragment of document (multiple nodes) where you were expecting only a single one. If you're using LaTeXML's apis, there's a distinction between findnode and findnodes for that purpose.

[2015-06-13 22:13] La-Stravaganza commented on #89
Now I understand the whole loading procedure much more clearly, let  me take ``/path/to/localmh/MathHub/smglom/numbers/cube.tex`` as an  example for illustration.

In ``cube.tex``, it has this line of code:
[code]
then, after setting sort of things, parameters will be passed to:
[code]
then to:
[code]
and:
[code]
Under ``\@importmodule``,
``\@load``will be set to ``path/to/localmh/smglom/numberfie

[2015-06-14 15:28] La-Stravaganza commented on #54
I implemented 3 new macros, customize ``\source``, ``slidelogo`` and ``licensing`` respectively.
Sample Usage:
[code]
![selection_002](https://cloud.githubusercontent.com/assets/10081485/8149161/77ec3cd8-12ba-11e5-9579-aec2ffc2a316.png)

I didn't change the default values, so you don't need to change any existing documents.

[2015-06-14 15:29] La-Stravaganza commented on #54
Is there any other hard-coded thing I didn't notice?

[2015-06-15 07:07] kohlhase commented on #54
looks good. please push.

[2015-06-15 07:23] kohlhase commented on #89
I think we want to leave ```\gimport``` and ```\importmhmodule``` alone for relative paths. They live quite happily with absolute paths. I should probably have specified this.

So let us think about ```\importmodule[load=../../smglom/numberfields/source/naturalnumbers]```.
and get this to work. The way I imgine this is that there is a local macro like ```\load@path@prefix``` that is initially (i.e

[2015-06-15 08:22] La-Stravaganza commented on #89
If I directly use ``\importmodule``, where can I get the path of current file?  If this part is solved, I could make a macro like ``\load@path@prefix`` and store the canonicalized path there. But still I am quite confused about how to change the existing logic of ``\@path`` and ``\@load``.

[2015-06-15 08:25] #54 closed

[2015-06-15 08:25] La-Stravaganza commented on #54
Already merged. So we can close this issue now.

[2015-06-15 09:37] kohlhase commented on #89
on top level (i.e. before the first ```\importmodule``` the current path is empty.

[2015-06-16 13:02] La-Stravaganza commented on #89
So suppose we have a file ``/path/to/localmh/smglom/numbers/cube.tex`` and it wants to ``\importmodule[load=../../smglom/numberfields/source/naturalnumbers]``. How can I store ``smglom/numbers`` in ``\load@path@prefix``? I didn't figure out how you store address into ``\mh@currentrepos`` at the beginning.

[2015-06-16 13:09] kohlhase commented on #89
No, you misunderstand (I think). ```modules,sty``` should initialize ```\load@path@prefix``` as empty with  ```\def\load@path@prefix{}```. When you run ```lmh pdf``` on ```.../cube.tex```, then ```\importmodule``` concatenates the existing (empty) prefix with the new path ```../../smglom/numberfields/source/``` giving the new prefix ```../../smglom/numberfields/source/```. Then if ```naturalnumber

[2015-06-16 13:41] La-Stravaganza commented on #89
As far as I understand, the first file has a empty prefix, so for this file it must import something like ``\importmodule[load=path/to/localmh/MathHub/smglom/mv/source/equal]``. Am I right here?

Then for ``equal.tex``, if it wants to import ``\importmodule[load=../../../sets/source/bijective]``, so the prefix for ``equal.tex`` is ``./../../sets/source/bijective``, and the actual loading path shou

[2015-06-16 15:07] kohlhase commented on #89
no. LaTeX should always start off with an empty prefix (since all files it loads are referenced from the currend directory), in particular, it can import ```equal.tex``` via a relative path. But this does not matter for our argument absolute paths are just a subset of relative paths, and the rest you seem to have understood.

NOTE I currently do not use ```\importmodule``` directly, since I host a

[2015-06-16 21:06] La-Stravaganza commented on #89
Yes, this helps a lot.

[2015-06-18 08:22] La-Stravaganza commented on #49
Could you illustrate more clearly here? I saw the example in the documentation, which kind of labeling bugs do you want to fix?
![selection_003](https://cloud.githubusercontent.com/assets/10081485/8227005/d071253a-15a3-11e5-9db1-3a9216f8c02b.png)

[2015-06-19 16:57] cmaeder opened #96 "perl warning for sTeX/sty/statements/statements.sty.ltxml line 286"
Currently I'm getting the following .ltxlog outpu for our smglom/mv filest. Should I care about this warning?

[code]

[2015-06-19 17:01] dginev commented on #96
You should, it means a backslash needs to get escaped. I quickly skimmed statements.sty.ltxml, there should either be single quotes as in ```'\'``` or an escape with double-quotes, as in ```"\\"```.

It's broken here for instance:
https://github.com/KWARC/sTeX/blob/master/sty/statements/statements.sty.ltxml#L286

[2015-06-19 17:02] dginev commented on #96
It's minor in this case though, you'll only get a garbled error message.

[2015-06-19 17:13] #96 closed

[2015-06-22 10:06] cmaeder opened #99 "make "make" work"
see #98 for the "make" problem. Maybe document (in README or INSTALL) how to call make and which files are actually generated (to avoid "fixing" generated files).

[2015-06-22 13:23] #99 closed

[2015-06-23 18:26] cmaeder opened #100 "spurious validity errors"
on my machine (Ubuntu 15.04) I get `validity error` messages on stderr:

[code]

On ash (Debian 8 (jessie)), there are no errors shown. The output created is identical on both machines, so the messages could be simply ignored, but they are still irritating.

(An old related issue seems to be http://www.cpantesters.org/cpan/report/ba10553c-8029-11e4-b744-f4345ef060ad )

The script to run latexml is

[2015-06-23 18:36] dginev commented on #100
Oh wow, 15.04 is out?

If this is another breaking change of libxml2 I will have to find a place to channel anger. It took forever to resolve a breaking valdiation problem with the newer version of libxml2 for the 0.8 release of LaTeXML back in November 2014, hopefully we are not hitting that again.

[2015-06-24 07:33] cmaeder commented on #100
My machine has `libxml2:amd64: /usr/lib/x86_64-linux-gnu/libxml2.so.2.9.2` whereas ash has
`libxml2.so.2.9.1`. I'll try, if I can replace my libxml2.

[2015-06-24 07:53] cmaeder commented on #100
Yes, I could `apt-get install libxml2=2.9.1+dfsg1-4ubuntu1` and got:

[code]

[2015-06-24 08:24] cmaeder commented on #100
I had to add `deb http://de.archive.ubuntu.com/ubuntu/ utopic main` to `/etc/apt/sources.list` to get the older `libxml2`. However, the version for `libxml-libxslt-perl` is identical for utopic and vivid, namely  `1.92-1build1`.

[2015-06-24 12:28] dginev commented on #100
Well this will bring back horrible memories. CC-ing @brucemiller here, so that he knows to expect a native LaTeXML issue soon. I am happy I am yet to update my Ubuntu installation.

[2015-06-24 13:47] kohlhase opened #101 "modnl only works with creators"
For some reason latexml fails on
[code]
but works on
[code]
Both should work.

[2015-06-24 16:00] angerhang commented on #101
I can't see any problem from my side. Can you show me an example and how you call latexml?

[2015-06-26 02:08] dginev commented on #100
And so I took the plunge and upgraded to 15.04. Good news for @cmaeder : my setup 1) can't run TAP at all and 2) segfaults when running latexmlc :>

I think my libxml just got completely disconnected from XML::LibXML during the upgrades. Will hunt down more tomorrow, will borrow this issue. @brucemiller : I am calling from the future, it ain't good :>

[2015-06-26 07:40] cmaeder commented on #100
My software setup is done using https://gl.mathhub.info/meta/inf/tree/master/config/MMT
(see setupLocalMH.sh)

[code]

[2015-06-26 07:47] cmaeder commented on #100
@kohlhase @m-iancu How was `pine.eecs.jacobs-university.de:/var/data/localmh/sty` created? (I don't see a corresponding repository). Why is this directory needed (if it is at all)?

[2015-06-27 05:37] kohlhase commented on #100
It has a couple of packages I did not know where to put otherwise.

[2015-06-27 16:53] dginev commented on #100
CC-ing @brucemiller here since it's again related to the LaTeXML installation.

What had happened is that my cpanm-installed JSON::XS was out of sync with a system library, and it was segfaulting. I reverted to using the ```JSON::XS``` from the package manager, which worked like a charm.

I am also successfully running make test under libxml 2.9.2, which means I can't reproduce the validity errors

[2015-06-27 16:54] dginev commented on #100
For now I am assuming the validity errors come from the libxml changes we already addressed for the last release.

[2015-06-27 17:10] brucemiller commented on #100
Any chance that this is related to a few random failures on cpantesters? (i doubt it, but...)

[2015-06-29 07:50] cmaeder commented on #100
`make test` does not produce the validity errors that I reported above. They are reported for our example `piecewise.de.tex` from `smglom/mv` (and for other examples).

[2015-06-29 08:45] cmaeder opened #102 "additional .sty files"
I just realised the files pine.eecs.jacobs-university.de:/var/data/localmh/sty come from https://github.com/KWARC/localmh (see #100)

I suppose, I need to address them when calling latexml

[2015-06-29 08:46] kohlhase commented on #102
yes, just add a ```--path```

[2015-06-29 08:46] cmaeder commented on #100
see #102

[2015-06-29 16:00] cmaeder commented on #102
I hope this is resolved by https://github.com/KWARC/MMT/commit/a7c33276c2ce99b360e614802f5b9ba542413365

[2015-06-29 16:00] #102 closed

[2015-07-02 08:13] cmaeder opened #103 "errors in mikoslides.cls.ltxml"
latexml on any file from MiKoMH fails for me with:

[code]

The content of `BNF.ltxlog` is:

[code]

[2015-07-02 08:20] kohlhase commented on #103
this seems to be a regression introduced by Jinbo, it seems that some of the LaTeX stuff from the DTX leaks into the generated style file. Assigning to him.

[2015-07-02 12:42] La-Stravaganza commented on #103
Yes, this is caused by my recent pushes.
![selection_005](https://cloud.githubusercontent.com/assets/10081485/8477126/0bbb50a0-20c8-11e5-8f78-3e55e2c9c142.png)

I substitute (nearly) all ``newcommand`` with ``newrobustcmd`` in ``etoolbox.sty``, probably ``etoolbox`` is    not supported by latexml? @angerhang

Right now we can 2 options:
  1. Change them back
  2. Try to make latexml support latexm

[2015-07-02 12:50] cmaeder commented on #103
/usr/share/texlive/texmf-dist/tex/latex/etoolbox/etoolbox.sty is installed on my machine. Does it need to be mentioned somewhere?

[2015-07-02 12:53] La-Stravaganza commented on #103
Yes, I think for latexml side, there should be a binding called ``etoolbox.sty.ltxml`` under ``/path/to/localmh/ext/LaTeXML/lib/LaTeXML/Package``.

pdflatex side works fine.

[2015-07-02 13:04] cmaeder commented on #103
Can etoolbox.sty.ltxml be created from etoolbox.sty?

[2015-07-02 13:05] La-Stravaganza commented on #103
Not automatically, @angerhang needs to write ``etoolbox.sty.latexml`` by hand.

[2015-07-02 13:09] cmaeder commented on #103
Maybe changing back to \newcommand is the simplest solution for a stable branch.

[2015-07-02 13:16] cmaeder commented on #103
It is best to make a new branch for reverting the \newrobustcmd changes, so that we can test first.

[2015-07-02 14:17] La-Stravaganza commented on #103
Solved.

[2015-07-02 14:29] La-Stravaganza opened #104 "Write etoolbox.sty.ltxml"
When an etoolbox command sequence inside ``RawTeX``, latexml side will crash.

For example, ``mikoslides.cls.ltxml``

[code]

contains ``\newrobustcmd``, which causes the crash.

This issue originates from #103

[2015-07-02 15:19] kohlhase commented on #103
I have not looked, but you should use

[2015-07-02 15:21] kohlhase commented on #104
We have two ways of handling this. Either using ```\newrobustcommand``` on the LaTeX side and ```\newcommand``` on the LaTeXML side (i.e inside the RawTeX). Or (preferred) directly implement ```\mhframeimage``` in LaTeXML.

[2015-07-03 05:19] kohlhase opened #105 "get tikz to preload properly in SMGloM"
We are using ```tikz.sty.ltxml``` now  in the SMGloM. The result is that processing time increased tenfold (or so; @cmaeder reports processing time of the whole SMGloM of 20 h). This is a profile thing, and I have briefly talked about this with @dginev and he says that preloading ```tikz.sty.ltxml``` which loads hundredts of LaTeX files (that is what takes time) should be possible (but the tikz li

[2015-07-03 05:28] kohlhase opened #106 "clean up info errors in SMGloM"
In https://github.com/KWARC/MMT/issues/29 @cmaeder reports SMGloM errors with the new errro veiewer http://ash.eecs.jacobs-university.de:8080/errorview.html (running latexml takes 20 hours). We should get the infos (CMP and srcref) sorted out. The are also reported in the MathHub error viewer (given the right settings), but that has a different run (I think). @m-iancu can give more info on this.

[2015-07-03 05:34] dginev commented on #105
You should keep in mind that the LaTeXML tikz binding is pathologically slow at the moment, and probably similarly pathological in memory use. And I am referring to both the preload-able time and the actual expansion time for graphics. While it can successfully emulate the tikz processing of TeX, we are far from even approaching TeX's efficiency here.

So even though you ventured bravely to add it

[2015-07-03 05:40] kohlhase commented on #105
thanks for your warning, but in SMGloM tikz is not actually used that much (only in one file at the moment; but considerably in GenCS). So slow execution is not a big problem. If we can get it to preload, most of the immediate problems should be solved.

[2015-07-03 05:40] kohlhase commented on #105
@cmaeder what profile are you currently using for SMGloM modules?

[2015-07-03 11:44] m-iancu commented on #106
MathHub.info has a different run indeed. The infos are fairly harmless but many are probably easy to fix. Most are about missing source references. Also, the most common one in that list `Unexpected element label in CMP: div ` is actually irrelevant and I should remove it. I had added it for debugging somthing. It is safe to ignore it for now.

[2015-07-03 11:49] kohlhase commented on #106
Ah, that is good to know, because that is not one I knew how to fix.

[2015-07-03 19:25] kohlhase commented on #106
I am a bit surprised at the fact that we are getting infos about missing srcrefs on omdoc:imports. That is present on my local machine. I am wondering what version Christian used.

[2015-07-06 14:46] cmaeder commented on #105
My run-latexml.sh script uses `--profile stex-smglom-module`

[2015-07-06 15:39] dginev commented on #105
There are some issues with the commit that introduced this profile, I added comments here: https://github.com/KWARC/LaTeXML/commit/2bb4e49e130d60d0ed153acafb174c31ff85e5eb#commitcomment-12019106

I think next time someone wants to add to the KWARC fork of LaTeXML they should do a pull request, just to be safe. I am a little shocked that profile works at all to be honest. It would be interesting to

[2015-07-07 09:50] angerhang commented on #61
@dginev
I struggled with how to make the defindex optional to have `DefConstructor` generating two different outputs.

My original idea is to have
[code]
and retrieve the value in `DefConstructor`, and beforeConstruct and afterConstruct add the index back accordingly.

 Would this be the approach that you choose?

[2015-07-10 10:07] cmaeder commented on #103
Currently I use (MMT uses) the branch "without_etoolbox" with the patch https://github.com/KWARC/sTeX/commit/0a63821d791b6b3fdc8121574dec33ea280c8244. It seems to work for LaTeXML and pdflatex. (pdflatex still includes etoolbox.sty.)

Whould there be any advantage of using  `\newrobustcommand` for pdflatex?

side note: for the BNF example, LaTeXML produces the BNF.ltxlog content below,
and in BNF.

[2015-07-11 21:25] La-Stravaganza commented on #103
The command with ``\newrobustcmd`` will be robust, as the manual suggests.

The difference between ``\newrobustcmd`` and ``\newcommand`` is maybe not so clear, but there are some  very useful command sequences in ``etoolbox``,  such as ``\csuse`` or ``\csdef``, which can save us from multiple ``expandafter``s.

Other advantages are still waiting to discover, before I am sure that pdflatex side wil

[2015-07-13 08:36] cmaeder opened #107 "latexmls does not work reliable"
In https://github.com/KWARC/MMT/issues/29 I've reported that building all of smglom took 20 hours.
After the weekend I've found (the process) `latexmls` running for over a day without any progress.
(I've no clue how to reproduce this, though.)

[2015-07-13 08:42] cmaeder commented on #103
I don't think MMT should checkout the proper branch of this repository prior to running latexml resp. pdflatex, do you?

[2015-07-13 15:01] angerhang commented on #41
@dginev
The summer might be the best time to tackle this issue.

I saw there was already a content MathML branch being worked on by you last year and has not been updated lately.

Do you think it would be a good idea for us to keep working on that branch or create a new branch for this issue?

[2015-07-13 15:06] angerhang commented on #41
If we decide to work on the existing branch, it probably would be difficult to the do regression test since that branch is quite antediluvian.

A better approach could be we create a new branch and mimic the corresponding changes.

What do you think?

[2015-07-13 20:08] dginev commented on #41
Wow, first time I hear of code being "antediluvian"!

I didn't get far with that branch, so feel free to start anew.

[2015-07-14 13:40] kohlhase opened #109 "use Ross Moore's tooltips in sTeX-generated PDF"
read https://tug.org/tug2015/preprints/moore-mathsem-cicm2015-v7.pdf and use it in sTeX.
this is really cool stuff.

[2015-07-14 13:43] kohlhase commented on #109
Ross (ross.moore@mq.edu.au) is willing to help. I think he will probably even extend his package if we prompt him.

[2015-07-14 13:58] cmaeder commented on #107
It seems that the timeout (given by `--expire=10`) was not respected in one case (or maybe another latexmls instance existed without timeout for some other reason).

[2015-07-16 14:14] angerhang commented on #41
Hah the use of that word was just a practice of my vocab as I am preparing for GRE these days : )

But I don't know if I am being too naive again that I can't find other things that need to be changed after this pull request https://github.com/KWARC/sTeX/pull/111?

My approach is to look for mathematical objects level markups with 'om:' namespace, and change it into the counterparts with the 'm:'

[2015-07-16 14:18] dginev commented on #41
Try to generate some OMDoc and review the final generated Content Math, comparing it to the original OpenMath version. If you can convince yourself it matches up perfectly, you're probably done.

High level comment, but it's a good end-to-end test. Good luck with the GRE, I hear they are arduous.

[2015-07-16 14:44] angerhang commented on #41
Thanks.

Hmm I thought this would be a much more non-trivial task, since Miko mentioned this conversion to me a long time ago. It is good that this can be done.

Can you help inspect?

[2015-07-17 15:26] angerhang commented on #74
Ah didn't know I should take a look, since the assignee is dginev.

The first problem should be resolved by https://github.com/KWARC/LaTeXML/compare/master...angerhang:master/

Going to inspect the second problem later.

[2015-07-17 15:33] angerhang commented on #74
However I encounter a problem about working in the docker.

The primary problem is whenever we make changes in the docker, do we always have to recompile LaTeXML? Is there another way around?

[2015-07-17 15:34] angerhang commented on #74
Also currently lmh doesn't allow us to run a LaTeXML fork, so the branch workflow will supplant the fork workflow for lmh I guess?

[2015-07-17 15:54] kohlhase commented on #74
I think that ```lmh``` does allow forks, talk to Tom.

[2015-07-17 15:54] kohlhase commented on #74
But yes, it would be very good, if you fixed this issue.

[2015-07-17 16:02] dginev commented on #74
@dginev is no longer the assignee, have a crack at it :)

[2015-07-21 10:03] angerhang commented on #74
@dginev  Hmm I am trapped here.

I was trying to modify the eventual omdoc by changing OpenMath.pm as LaTeXML makes good omdoc/OpenMath in the post-processing phase right?

But I am not seeing any difference in the output, am I looking at the wrong place?

[2015-07-21 10:07] angerhang commented on #74
I made changes in lmh and
[code]
to rebuild LaTeXML

and
[code]
to generate omdoc.

Perhaps lmh is not responding to the changes that I made?

[2015-07-22 07:36] kohlhase opened #112 "sTeX light Tracker"
We want the sTeX bindings (```*.sty.ltxml```) with a light variant with which directly generates preloaded HTML5. For that we need to give every sTeX macro and environment a "light variant" that (ultimately) generates HTML5+RDFa instead of OMDoc. This is the format that MMT also generates from OMDoc, and on which JOBAD operates, so that the results of sTeX light are (at least partially) active doc

[2015-07-22 07:37] kohlhase opened #113 "modules light"
The modules binding should essentially stay as it is, only that it (for the moment) should not deposit notation definitions. It should however generate divs for theories and RDFa spans for symbols and the various importmodule and usemodule statements.

The other change is that we want to generate presentation MathML.

[2015-07-22 07:40] kohlhase commented on #112
We should start with ```statements.sty.ltxml``` as an example on another branch.

[2015-07-22 09:51] angerhang opened #114 "LaTeXML within docker can't generate omdoc"
This was briefly mentioned in #74, indicating the changes made within docker for LaTeXML won't do anything.

@tkw1536 thinks this is not caused by lmh. We did a clean reinstall of LaTeXML with docker using
[code]

and tried to generate omodc using
[code]

Here is the log file
[code]

It is so weird that LaTeXML fails to find those 4 sty files.

@dginev can you take a look and suggest what goes wro

[2015-07-22 09:54] angerhang commented on #114
This is also a LaTeXML issue.

 Since the issue tracker on KWARC's LaTeXML fork is closed, it is the best to denote this problem here.

[2015-07-22 11:37] dginev commented on #114
The sTeX path (STEXSTYDIR) seems to not be set, or is set incorrectly, when LaTeXML is running.

You should be extra careful that LaTeXML isn't loading the sTeX bindings from texlive, since it's almost certain they are out of date for what you're trying to demo.

[2015-07-23 12:08] angerhang commented on #114
Thanks Deyan, you are right that the sTeX path is causing this problem.

[2015-07-23 12:18] angerhang commented on #114
This has been fixed and thus close.

[2015-07-23 12:18] #114 closed

[2015-07-23 13:22] angerhang commented on #74
This is the newly generated output. I think it corresponds to what Michael gave.

[code]

[2015-07-23 15:53] kohlhase commented on #74
very good, this seems to work now.

[2015-07-23 15:53] #74 closed

[2015-07-25 16:53] La-Stravaganza commented on #103
After recent merge #115 this shouldn't be a problem right now. I will take care for any error caused by ``RawTeX`` afterwards.

[2015-07-25 16:53] #103 closed

[2015-07-27 15:38] angerhang commented on #41
@dginev from my understanding, LaTeXML should be able to generate CMML right?

I did the following changes but it seems to me that sTeX still has __PMML as the output__ which confused me:
- Changed the math mode in `make/Makefile.latexml.vars` so that LaTeXML can produce cmml.

- Added the `cmml` math mode mimicking 'pmml' in xsl. I haven't written `cmml`'s own sty sheet yet, but I have a feeling

[2015-07-27 15:43] dginev commented on #41
Careful, the PMML is there for a reason - it is used in the rendering elements to specify the intended display (and in the general case - all notations) of the defined symbols.

The PMML and OpenMath in the classic sTeX setup were disentangled by a follow-up stylesheet which Michael wrote. This stylesheet also needs to evolve to now disentangle PMML and CMML (maybe it already did?).

I don't have

[2015-07-28 06:41] kohlhase commented on #41
am I right that you want to use Makefiles for debugging?

We should be careful with this, the Makefiles are very likely outdated.
I could not find a change on branch ```new_content_math```, did you push?

Generally, the sTeX2OMDoc conversion is in three steps:
1. running ```latexml``` (converts the top-level sTeX stuff to OMDoc and the text-level to LTX, and generates ltx:XMath for Math and notati

[2015-07-28 10:51] kohlhase opened #116 "latexml error "equals" on undefined"
On https://mathhub.info/MiKoMH/GenCS/logic/en/calculus-infrules.omdoc we have the error

[code]
assigning to Hang, but @dginev can supervise?

[2015-07-28 11:41] kohlhase commented on #65
sorry, just found the reason, it is not LaTeXML's fault.

[2015-07-28 11:41] #65 closed

[2015-07-28 12:13] kohlhase opened #117 "regression: symtest does not work any more."
in all of the ```smglom/*/source/*.tex``` there are ```\symtest``` macros that are supposed to write out symbol tests. They no longer do that. I suspect it has something to do with the robustcommand change.

It seems that the ```\if@importing``` is not false at the time as it should be: ```\@ifimporting``` should only be false during an ```\importmodule```. Please have a look.

[2015-07-28 14:02] angerhang commented on #41
Michael I just pushed the changes and added a test file to my fork.

I don't think the `test.omdoc` is right though.

[2015-07-28 14:08] kohlhase commented on #41
Hang, I think that we should not use your fork, but the ```new_content_mathml``` branch directly on the sTeX repository. Either use a branch or a fork.

[2015-07-28 14:09] La-Stravaganza commented on #117
What is it supposed to be when I compile, for example, ``set.tex`` with ``lmh pdf set.tex``?

[2015-07-28 14:11] La-Stravaganza commented on #89
The logic of ``cpath`` now is fully correct. I implemented a new command sequence called ``rinput`` to support relative path inputs, which has been already documented in the manual.

[2015-07-28 14:11] kohlhase commented on #117
[code]
is supposed to generate somthing like
[code]
into the PDF.

[2015-07-28 14:12] dginev commented on #41
I second Michael here, using the main KWARC/sTeX repo is perfectly fine if you are using your own feature branch on it.

 Having to merge over from a fork, to a feature branch, and then to master, is a paranoid level of quality assurance, and likely too much hassle to be worthwhile for you.

[2015-07-28 14:12] kohlhase commented on #89
I am afraid we misunderstood each other. I did not want to have a new macro ```\rinput```, but I wanted to allow ```\importmodule``` to take relative paths.

[2015-07-28 14:12] kohlhase commented on #89
Oh, and ```\inputref``` as well.

[2015-07-28 14:14] kohlhase commented on #41
I am quite sure that Jinbo and Hang have push rights.

[2015-07-28 14:21] angerhang commented on #41
I agree.

Using a feature branch in the fork troubles me whenever I want to synchronize between different forks and branches. I will push directly to the new-content-mathml branch from now no.

Thanks for the suggestion.

[2015-07-29 05:27] kohlhase commented on #41
I have played with the branch a bit.

I completed test.tex so that it runs and I have adapted the Makefiles, so that they generate ```test.xml``` (no stylesheet) and ```test.tomdoc``` (applying the stylesheet to ```test.xml```). This should give us more debugging information.

The main problem still seems to be that ```--cmml``` and ```--pmml``` interfere considerably (excluding each other).
In cl

[2015-07-29 05:30] dginev commented on #41
Er, that should never happen, sounds like a bug.

Can you give me an exact set of commands and an example file, so that I can reproduce quickly? I am generally short on time this week, but this sounds like something I can quickly diagnose and pass over to @angerhang , as long as I can run see the exact LaTeXML setup and bindings being run.

[2015-07-29 06:22] kohlhase commented on #41
just check out the ```new_content_mathml``` branch of sTeX, go to the ```cmmltest``` dir and do
[code]
that should do the trick.

[2015-07-29 15:48] La-Stravaganza commented on #89
``\inputref`` now supports relative path.

I am not sure about what ``\mod@path`` is for, with absolute path something like ``/path/to/localmh/MikoMH/.../frontmatter`` will be assigned to ``\mod@path``. What should I do with ``\mod@path`` if it is relative path?

Right now I do nothing, and it works, But I still concern about this.

[2015-07-29 16:06] angerhang commented on #61
@dginev
In the ebb7ad8a5d81badbf1bed7e4f3a0450f06eec81e commit, I made `defindex` switch optional.

However it is rather verbose right now? So I only changed `adefi` and left out the rest, since it is not optimal yet.

Is there any better way to make DefConstructor conditional?

[2015-07-30 13:32] La-Stravaganza commented on #117
I accidentally deleted one pair of curly brackets, now it is fixed. Please have a look at the pull request #119 .

[2015-07-30 13:50] La-Stravaganza opened #120 "modules.sty.ltxml isn't generated by modules.dtx ?"
I didn't notice this before, so when I run ``pdflatex modules.ins``, I do change ``modules.sty.ltxml``, which I shouldn't.

Why didn't we document the source codes in .dtx file?

[2015-07-30 14:22] angerhang commented on #61
I spent a few hours playing with the binding option in sTeX, but still can't make the option work the way we want.

In 28097626e2373499b6ec534c9d7af7dd1d3c562d, (I know this commit has many duplicated code  : p but I will refactor soon) I tentatively made defi* and adefi* optional. The `defindex` option by default is false and will be toggled if the option is passed to the binding.

[code]

Strang

[2015-07-30 16:49] dginev commented on #61
If you want to make this cleaner, instead of conditionally changing the definition of ```\defi``` in runtime, you should have a single fixed DefConstructor that defines it, and you should check the value of your defindex switch in the ```afterDigest``` clause of the constructor passing it on as a Whatsit property. (Hopefully it's still set there, you'll need to throw it up from beforeDigest otherw

[2015-07-30 16:52] dginev commented on #61
You need to invoke ```ProcessOptions()``` in the module that declares the options, so that LaTeXML explicitly processes them. Grep around for examples of how that is used, it's also described in the manual: http://dlmf.nist.gov/LaTeXML/manual/modules/LaTeXML_Package.html#A3.I14.ix6

[2015-07-31 07:59] #117 closed

[2015-07-31 10:32] kohlhase commented on #120
I think you are mistaken, this cannot be with the current modules.ins.

[2015-07-31 14:09] angerhang commented on #61
Oddly I did have `ProcessOptions()` right after the declaration of the options.

The exact code for option part is like this:
[code]

This is what I have in `pre.en.tex` in `localmh/MathHub/smglom/topology/lib/pre.en.tex`
[code]

[2015-08-03 10:21] La-Stravaganza commented on #49
I notice that  the labels will be shown only with ``spfcases`` environment.

To make the labels customizable, how about implementing a new macro, passing some key-val pairs, such as:
 ``\setstyle{prefix=P, delimiter=., number=arabic}``
which will create label style just as the orginal one?

[2015-08-03 12:31] angerhang commented on #116
I couldn't duplicate the same error message on my local machine.

I think the log file on MathHub webpage has not been updated yet.

On the error viewer, which has a newer version of sTeX, this error no longer exists.

[2015-08-03 22:15] La-Stravaganza commented on #49
So I implemented a new command sequence. With
[code]
, labeling could be fancy like this:
![selection_006](https://cloud.githubusercontent.com/assets/10081485/9048997/d34597d2-3a3d-11e5-9a8e-a43fd4485d6c.png)

[2015-08-05 10:44] La-Stravaganza commented on #89
Please correct me if somewhere is wrong

My understanding of the mechanism of avoiding multiple loading for the same module:

<1> In ``\requiremodules`` macro, ``\mod@path`` and ``\mod@ext`` will be defined.
[code]
<2> In ``module`` environment, these two macros will be picked up. If these two macros have been defined, then define a global macro ``module@<name>@path``, as a flag.
[code]

<3> In ``

[2015-08-05 12:47] La-Stravaganza commented on #47
I made a minimal test case:
[code]
which will create a duplicate reference warning:
[code]

I think this is caused by using ``\defi{theorem}`` twice.
Any idea about a possible solution for this?

[2015-08-06 10:35] La-Stravaganza commented on #47
Update for minimal test case:
[code]

I guess it's a conflict between hyperref and  one or more packages in sref, modules, omtext and statements.

[2015-08-06 12:01] La-Stravaganza commented on #47
I reappear this warning with
[code]
[code]

So this warning is signaled by ``hyperref``, when defining the same hypertarget twice or more.

In sref:
[code]

Clearly this part of code lack a detection, I will try to fix this.

[2015-08-06 14:13] angerhang commented on #112
So the approach that I am implementing right now is using `stex@omdoc` in all the packages that have sTeX specific primitives, macros and constructors...

When we pass the `stex@omdoc` option to sTeX, `omdoc.cls.ltxml` also passes this option to the relevant packages in order to produce the desired HTML.

As @kohlhase mentioned before, the current solution is likely to double the size of each pack

[2015-08-06 14:24] angerhang opened #123 "LaTeXML Postprocessing Segmentation fault"
@dginev could you please take a look. This problem should be rather easy to diagonize. I was simply lost in the mystery of Makefile dependency in sTeX....

In the new_html branch, `htmltest` directory, you can `pull` and `make` to see what is exactly going on. The test file is:
[code]

The converted xml is like the following:
[code]

But when I called the post processor, I encountered a segmentati

[2015-08-07 10:41] La-Stravaganza commented on #47
This is solved. I need to change ``statements.dtx``, please merge #121 first.

[2015-08-10 09:55] #49 closed

[2015-08-10 11:25] angerhang commented on #61
This is done.

[2015-08-10 11:25] #61 closed

[2015-08-10 11:25] angerhang commented on #59
This is done.

[2015-08-10 11:25] #59 closed

[2015-08-11 10:57] angerhang commented on #123
This is fixed. Close for now.

[2015-08-11 10:57] #123 closed

[2015-08-24 13:47] angerhang commented on #25
Based on the new HTML mode design, I would suggest a different approach, because we are no longer using the utility binding, but rather extending the existing bindings in `*.cls/sty.ltxml`s.

Given a document with the preamble similar to the following:
[code]
we can imagine sTeX by default being set as non-HTML mode and being switched to produce HTML when `html` is passed to `omdoc` package, in wh

[2015-08-26 14:25] angerhang opened #127 "Conversion to `ltx:p` messes with LaTeXML schema"
During the modules light conversion process, we need to go through several steps to generate HTML, namely:

1. Convert the `tex` source file into `ltx+XMATH`.
2. Convert `ltx+XMATH` into `ltx+MathML or OpenMath`.
3. Lastly, use the post processor to generate the desired `HTML`.

In 013937c3512037838f28a1d3045233bbfa4c0b4b, I added the light version to the `definition` environment and I got stuck i

[2015-08-26 14:29] dginev commented on #127
Sure, LaTeXML p's aren't allowed in LaTeXML blocks, just as the schema says. You need to open a logical paragraph, ltx:para, first.

But since you are doing sTeX - why are you opening LaTeXML elements? Shouldn't you be manually opening only elements in the "omdoc:" namespace? Also, schema decisions/problems are an area where @kohlhase always has better advice to offer than me.

[2015-08-27 12:54] angerhang commented on #127
I totally misread the manual. I thought the ltx:p was allowed in LaTeXML blocks.

The reason why we are opening elements in the `ltx:` rather than `omdoc:` is because we are using the `ltxml+omdoc.rnc` for the HTML workflow, which has a default namespace as LaTeXML. I am not entirely sure if my reasoning is plausible though. But Michael gave an example using `ltx:` as the namespace in #112, so pro

[2015-08-31 07:33] kohlhase opened #128 "nobrackets does not work for \prefix"
```\prefix``` and ```\postfix``` did not accept the ```nobrackets``` attribute. I copied the code over from the ```mi``` keygroup (in ```presentation.dtx```), but the brackets do not work correctly yet. See the ```\minval``` test in ```MathHub/smglom/numberfields/source/minmax.tex```. We need to look at this soon.

[2015-09-01 12:55] kohlhase opened #129 "lmh gen does not accept full paths"
I get
[code]
this breaks the emacs integration of ```lmh``` I  have.

[2015-09-01 12:56] kohlhase commented on #129
It would greatly enhance my GenCS/CompLog/GenICT productivity if this were fixed.

[2015-09-01 13:34] tkw1536 commented on #129
As long as it is inside the MathHub directory it should work.

On Tue, Sep 1, 2015, 14:56 Michael Kohlhase <notifications@github.com>
wrote:

[2015-09-01 13:35] kohlhase commented on #129
actually, it does not, I am in the same directory both times.

[2015-09-01 14:52] #129 closed

[2015-09-01 17:35] kohlhase commented on #129
Indeed,  thanks a lot.

[2015-09-01 17:41] kohlhase opened #130 "lmh pdf should copy, not move the pdf and pdflog files to .../export/..."
Currently MMT moves the *.pdf and *.pdflog to the ```.../export/...``` dimension of the archive. I am probably the heaviest user of ```lmh pdf``` and mainly use it for development and debugging of course materials. It would be very good if I had access to the log and pdf files in the same directory.

[2015-09-01 17:41] kohlhase commented on #130
@tkw1536 should be aware of this.

[2015-09-01 17:48] cmaeder commented on #130
MMT is changed to keep *.pdf, *.log and others files in the `source` directory. Only .ltxlog is moved to the `latexml` directory. Does updating lmh help?

[2015-09-01 17:49] cmaeder commented on #130
I've no idea about *.pdflog files

[2015-09-01 17:50] kohlhase commented on #130
*.pdflog was the pdflatex log files that lmh made so far.
maybe the log files are now *.log. You should know.

[2015-09-01 18:08] cmaeder commented on #130
The .log file should be sufficient, but I now also create a .pdflog file showing the output of calling `xelatex` under `source`.

[2015-09-02 07:56] cmaeder commented on #130
the same output will also be part of a .err file under the `errors` folder.

[2015-09-02 13:11] #130 closed

[2015-09-03 15:29] cmaeder commented on #93
the failures are part of the branch https://github.com/KWARC/LaTeXML/tree/travis_tests

[code]

[2015-09-06 22:49] angerhang opened #131 "Perl died: Can't call method "equals" on an undefined value"
Perl died at 457 places as MathHub reported in https://mathhub.info/mh/common-errors, most of which are due to

[code]

[2015-09-07 06:00] kohlhase commented on #131
this is a duplicate of #116, closing.

[2015-09-07 07:08] angerhang commented on #131
Right they are identical.

[2015-09-07 07:08] #131 closed

[2015-09-08 15:09] m-iancu opened #132 "theory name in imports is broken"
After the update it is still broken, now it's just an extra slash (I guess escaping failed) :
`<omdoc:imports from="smglom/mv/source/equal\#2 ..."`

[2015-09-08 15:34] kohlhase commented on #132
The problem is in ```smultiling.sty.ltxml```, in the definition of the ```modnl``` environment. I have tried changing the string interpolation, could you please try again?

I am assigning this to @angerhang he knows this better.

[2015-09-08 18:20] m-iancu commented on #132
Latest version is back to the "no slash" version:
[code]

[2015-09-08 18:29] kohlhase commented on #132
hmmmm, somehow my changes semm to have been reverted. I made the changes again, could you please try again? (sorry, for me nothing works).

[2015-09-08 19:18] m-iancu commented on #132
Same as above, not sure if commit went through (https://github.com/KWARC/sTeX/commits/master)

[2015-09-16 17:30] angerhang opened #133 "html branch: XHTML better format-not valid tag <resource>"
The output of XHTML branch is not valid because of the extra `<resource>` tag, and also its information has already been included in the header, and thus should be deleted.

[code]

[2015-09-16 17:35] La-Stravaganza commented on #128
Sorry for being unproductive recently. Could you illustrate more about this ticket?

[2015-09-16 17:44] angerhang commented on #133
This has already been fixed. I just want to denote it somewhere for the record.

Since the problem was caused by the way that `LaTeXML-all-xhtml.xsl` includes other stylesheets, more specifically in LaTeXML's `.xsl` file, it uses `import` rather than `include`, rendering the imported stylesheets having a lower precedence.

The `htmlpost.xsl` is the root stylesheet, in which the `copy` method will

[2015-09-16 17:44] #133 closed

[2015-09-16 17:47] dginev commented on #133
If you think LaTeXML should handle XSLT inclusions differently, definitely mention it to Bruce. I haven't had too much interaction with the XSLT universe recently but both Michael and Lukas could offer advice.

Btw I just merged the KWARC/LaTeXML fork with the latest state of Bruce's LaTeXML, so you should keep your eyes open to any changes to sTeX.

[2015-09-16 17:53] angerhang commented on #133
Ok thanks! My lmh has been a while, but I will certainly keep an eye on it :wink:

[2015-09-21 12:29] angerhang commented on #127
This ticket is no longer relevant to the new HTML generation approach and thus close.

[2015-09-21 12:29] #127 closed

[2015-09-21 13:08] angerhang opened #134 "Rethinking HTML approach"
After a discussion with Michael today, we decided we would have to change our original HTML approach, which essentially is to use a light variant `*.sty.ltxml` to generate HTML5 and RDFs.

The right way of generating HTML is actually to set the schema as `ltxml+omdoc.rnc`, so that the bindings should mostly remain unchanged, and let the post processor do the work. We will need to extend the XLST s

[2015-09-21 13:11] angerhang commented on #112
I think this ticket along with #113 can be closed now due to the change of HTML generation.

#134 can be served as a general purpose issue tracker.

[2015-09-21 13:52] #120 closed

[2015-09-22 13:06] angerhang opened #135 "stex2html package design"
Instead of having `stex-ns` package which only registers the namespaces for HTML branch, I think it is better to have a `stex2html.[sty.ltxml|styl]` package which mostly does the same thing as `stex-ns.[sty.ltxml|sty]`, but also sets the schema to `ltxml+omdoc.rnc`.

Hence, we can get rid of the `html` option for html branch at the same time. Now, one can generate HTML from sTeX by merely includin

[2015-09-22 16:20] dginev commented on #135
FYI the LaTeXML way to distinguish formats would be via:

``` --format=html5 ```

or

``` --format=omdoc ```

Which used to be responsible for changing the stylesheet, but with the upcoming improvements in 0.8.3 (ETA early 2016) you could have an entire format-based profile, allowing to select or deselect various post-processors. @brucemiller we could think of helping the sTeX effort in migrating

[2015-09-25 14:45] cmaeder opened #136 "latexml problem"
@dginev your commit
https://github.com/KWARC/LaTeXML/commit/3438ed4b699082a1e380d4e128fba0a3d459eba0#diff-a143c44e5d57201b5cc5c4480f2311c5
causes

[code]

(which is line 142 in https://github.com/KWARC/LaTeXML/blob/master/bin/latexmlc when called)

[2015-09-25 14:51] kohlhase commented on #116
@dginev could you have a quick look at this? This causes 500 fatal errors on MathHub.

[2015-09-26 06:06] kohlhase commented on #132
@dginev, could you have a look at this as well. Another blocker on MathHub

[2015-09-26 06:11] dginev commented on #132
Here is the culprit: https://github.com/KWARC/sTeX/commit/9714311507a710b186d885ec2a803331391ff7b9#commitcomment-13450514

[2015-09-27 13:11] angerhang commented on #116
Maybe this bug was fixed after LaTeXML was merged with its upstream?

I did a clean installation of lmh on Thursday and now I got the following for ` MiKoMH/GenCS/latexml/logic/en/calculus-infrules.tex`
[code]
@m-iancu can you help confirm this?

[2015-09-27 14:35] angerhang commented on #132
So what exactly do we want here?

I understand we don't want the extra slash in the import path, but what should it be instead?

[2015-09-27 16:30] kohlhase commented on #132
we want
[code]
where instead of ```\#2``` we have the theory name it was called with, i.e. something like ```equal/mv```.

[2015-09-28 12:19] cmaeder commented on #136
is fixed after `lmh setup --update`

[2015-09-28 12:19] #136 closed

[2015-09-28 13:00] kohlhase opened #138 "lmh symbols extension: \assdef"
```lmh symbols``` generates ```\symi*``` for ```\symdef``` and various other things, e.g. ```\defi*```. It should also generate ```\symi*``` for ```\assdef```. This is called as ```\assdef{foo-bar}{some text}``` in ```*.<lang>.tex```.

[2015-09-28 15:45] dginev commented on #107
Keep in mind there are two timeouts:
 * ```--expire=X``` will shutdown latexmls if no job arrives in X seconds, 0 will keep it on until externally killed
 * ```--timeout=X``` will timeout the conversion process internally, without killing latexmls/latexmlc, so that you can set upper bounds to the TeX conversion.

If you think you're seeing a bug with their function, try to obtain a self-contained

[2015-09-30 11:18] cmaeder commented on #105
Meanwhile, I think, tikz is properly preloaded. Just MMT did not exploit the preloading (due to https://github.com/KWARC/MMT/issues/67 and a bad `--expire=10` option).

The current processing time (on ash) for all repositories (BaseMH, KwarcMH, MiKoMH, smglom)
is now at 13 hours (with only one `latexmlc` instance being active at a time).

For different repositories different `latexmls` intances ar

[2015-10-01 09:15] cmaeder commented on #107
I don't use the `--timeout=...` option of latexml (so the default of 600 will be used).

However, I use a separate timeout for the java process that calls `latexmlc` to ensure no "hanging".

[2015-10-01 09:15] #107 closed

[2015-10-01 09:39] cmaeder commented on #91
@kohlhase can this be closed, too?

[2015-10-01 09:50] kohlhase commented on #91
yes

[2015-10-01 09:50] #91 closed

[2015-10-01 09:51] cmaeder commented on #105
13 hours for 4496 files is 10-11 secs per file (149 files fail). pdflatex is much faster (less than 5 hours, but I need to measure this again).

[2015-10-01 09:52] kohlhase commented on #105
10-11 secs per file seems a bit much. Are there ```all*.tex``` in there? They usually take much longer. They should not be processed. I guess once there are less errors, we will see faster times as well.

[2015-10-01 09:56] cmaeder commented on #105
latexml does not process `all*.tex` files.

[2015-10-01 13:55] #105 closed

[2015-10-04 12:46] kohlhase opened #139 "integrate package/class pstprocessing into Makefile."
If I remember correctly Jinbo had a package/class postprocessor that delets whitespace. This should be integrated into ```ext/sTeX/sty/make/Makefile``` which is used to generate the packages/classes from the DTX files. Otherwise it will never be used.

[2015-10-04 12:46] kohlhase opened #140 "document cpath.sty"
in a dtx.

[2015-10-04 17:44] angerhang commented on #135
After a discussion with Michael this week, we think using LaTeXML to distinguish the format-based profile is a better approach.

Currently sTeX is switching over to CMML, so I think instead of improving the PMML and OpenMath post-processors, what is more needed is to improve the CMML and PMML post-processors right?

However, if sTeX is only producing XMath, does it matter at all that which markup

[2015-10-04 19:18] dginev commented on #135
You only need to improve the post-processors when they are not good enough - so that should happen incrementally, as you have examples of undesired markup.

Also, sTeX produced a lot of hand-crafted OpenMath when I was working on it, notably related to binders and associative arguments. It is rather unclear what the correct XMath equivalent would be for that, and you would most likely need to walk

[2015-10-04 20:25] angerhang commented on #101
I just ran `lmh omdoc ` on local-base without `creator`, and there was no problem.

[code]

Perhaps this issue can be closed.

[2015-10-05 04:40] kohlhase commented on #101
OK, closing

[2015-10-05 04:40] #101 closed

[2015-10-05 05:37] kohlhase opened #141 "extract all the path handling from modules.sty"
into a new sTeX module that is required by `modules.sty`. This should include `cpath.sty` and `\defpath` and `\rinput` as well. All the stuff from the section "dealing with multiple files" should really be externalized into the new module together with the documentation.

[2015-10-05 05:45] kohlhase opened #142 "push internationalization of sTeX forward"
A while ago, I started internationalizing `statements.sty`. This currently has three parts
- a "language definition" file `statements-ngerman.ldf` (with the German keywords)
- requiring `[base]{babel}` in statements
- baiting the `ngerman` language hook by `\AfterBabelLanguage{ngerman}{\input{statements-ngerman.ldf}}`
  All of this only happens on the  LaTeX side right now @angerhang should have a

[2015-10-05 09:22] angerhang commented on #132
This is fixed.

[2015-10-05 10:15] angerhang commented on #116
This could have been fixed by recent changes made in LaTeXML, so it no longer applies, albeit feel free to reopen it if it comes back again.

[2015-10-05 10:15] #116 closed

[2015-10-05 10:16] angerhang commented on #104
This is no longer applicable.

[2015-10-05 10:16] #104 closed

[2015-10-07 12:08] cmaeder opened #143 "make `\libinput` work with latexml"
With `\libinput{WApersons}` in `localpaths.tex` pdflatex works fine, but latexml fails with

[code]

for at least all files in `smglom/mv`

[2015-10-07 12:10] kohlhase commented on #143
assigning to Hang, please investigate and report problems if you do not know how to solve them.

[2015-10-07 12:48] La-Stravaganza commented on #128
I tried to understand why ``\mixfixi`` can works correctly, I think the key part for solving this problem is to implement a similar checker as ``\PresWrite`` in ``\prefix``.

``\mixfix`` is implemented as this:
[code]

As we can see, before writing brackets, ``\mixfix`` will try to compare the precedences and determine when to write a bracket.

But in the definition of ``\prefix``, there's no simi

[2015-10-11 22:25] angerhang commented on #143
I cannot duplicate the same error actually:
[code]

[2015-10-12 05:35] kohlhase commented on #143
I have the same situation, but for me ```lmh``` still generates the long form, not the ```\libinput``` version.

[2015-10-12 08:24] cmaeder commented on #143
After a fresh `lmh setup --update` and `lmh pull` it works for me now, too. I'm sure I've updated before reporting the errors above (but maybe I've overlooked some update failures due to changes).

I've also changed MMT now to actually produce `\libinput{WApersons}` in `localpaths.tex`. Old `localpaths.tex` files need to deleted _manually_, though!

[2015-10-12 12:28] cmaeder commented on #143
despair, currently I get

[code]

[2015-10-12 12:28] cmaeder commented on #143
for all files in `smglom/mv`

[2015-10-12 13:50] angerhang commented on #143
I had similar situation yesterday, but it turned out that I had a wrong path in `libinput`
Make sure that your `\libinput{WApersons}` is correct.

If that doesn't help, can you show me your localpaths file?

[2015-10-12 13:59] cmaeder commented on #143
Yes, indeed, `git status` in `smglom/mv` reported `deleted:    lib/WApersons.tex`.
(`lmh pull` seems to be not enough.)

[2015-10-13 18:38] kohlhase opened #145 "implement \libinput properly"
Currently modules.sty.ltxml has a rawtex for ```\libinput```, this should be implemented in perl.

[2015-10-15 07:45] cmaeder opened #147 "pdflatex fails for *.zhs.tex files"
@kohlhase @La-Stravaganza since I check the exit code of running pdflatex/xelatex, the `*.zhs.tex` files under smglom/sets fail

[code]

(Use `lmh setup --update` to get the latest MMT version.)

In fact, this was the example where Jinbo told me to ignore the exit code and only look at the resulting `.pdf` file. (Due to https://github.com/KWARC/MMT/issues/71 the exit code cannot be ignored. The pr

[2015-10-15 10:54] cmaeder commented on #147
also `allpdf` fails now for `all.<lang>.tex` files

[code]

[2015-10-16 06:25] kohlhase commented on #147
hmmm, this sounds as if the path canonicalizer has struck again. In the
mathhub-enabled setup, no paths should be canonicalized (or all for that
matter).

Michael

On 15/10/15 12:54, cmaeder wrote:

--
----------------------------------------------------------------------
 Prof. Dr. Michael Kohlhase,        Office: Research 1, Room 168
 Professor of Computer Science  Campus Ring 1,
 Jacobs Univers

[2015-10-16 06:25] kohlhase commented on #147
This is interesting, this error message does not come from calbf.sty. So
deleting it there will not help. We have to track this down futher. It
is also interesting that this only appears in chinese. I do not believe
that this is the right fix (but you can convince me otherwise).

On 15/10/15 09:45, cmaeder wrote:

--
----------------------------------------------------------------------
 Prof. Dr.

[2015-10-16 06:25] kohlhase commented on #147
On 15/10/15 09:45, cmaeder wrote:

So concentrating on the exit code is the right solution after all.

--
----------------------------------------------------------------------
 Prof. Dr. Michael Kohlhase,        Office: Research 1, Room 168
 Professor of Computer Science  Campus Ring 1,
 Jacobs University Bremen           D-28759 Bremen, Germany
 tel/fax: +49 421 200-3140/-493140  skype: m.kohlha

[2015-10-16 06:25] kohlhase commented on #147
On 15/10/15 09:45, cmaeder wrote:

I have looked at this, and it seems that \usepackage[turkish]{babel}
interacts unfavorably with something in sTeX. I wonder what happens
there. Jinbo could you investigate?

This may have something to do with the fact that ```turkish.ldf``` makes
the characters ! and : and = active, maybe that wrecks some characters?
[code]
It could be that ```turkish.ldf``` and

[2015-10-16 13:16] La-Stravaganza commented on #147
I will investigate this further.

[2015-10-17 08:15] kohlhase opened #148 "duplicated id problem in notations"
In
[code]
we get the warning
[code]
and the result
[code]
It seems that the problem is that LaTeXML/sTeX is making the ```xml:id``` attributes for symbols from the name property. But the two ```\symdefs``` have the same name ```name``` (via overwriting). Maybe using the macroname (which should be unique) is better.

[2015-10-17 08:18] kohlhase opened #149 "\symdef bug for \text in presentation."
In
[code]
we get the error
[code]
This should be fixed. I wonder where this comes from, it may be a schema error? @dginev maybe you think?

[2015-10-17 08:38] kohlhase opened #150 "allow \inlinedef omtext environment"
In ```MiKoMH/GenCS/source/SML/en/SML-rtfm.omdoc``` we get the error ```malformed: \inlinedef outside a statement!``` when transforming with ```latexml```, even though ```pdflatex``` accepts this.

The offending part is
[code]
I am not sure why this is, since in ```statemts.sty.ltxml``` the conditional is
[code]
and an ```omtext``` environment certainly generates a CMP. Could this be a timing issue

[2015-10-17 09:36] kohlhase opened #151 "getNode Box fatal error"
When I run ```lmh omdoc``` on ```MiKoMH/GenCS/source/machines/en/UTM.tex```, then I get the error
[code]
this also happens at a couple of other locations in GenCS.

[2015-10-19 05:11] kohlhase commented on #132
Actually, this is not fixed completely yet. Converting ```MiKoMH/GenCS/source/dmath/en/functions.tex``` I get
[code]
from
[code]
This would be very important to fix.

[2015-10-19 06:45] kohlhase opened #152 "need error/warning for absent stuff"
latexml generates lots of ```<om:OMS cd="latexml" name="absent"/>```, which seem to point to a problem (after all nothing usable is there) but does not give an error/warning that we could track. For instance this happens in ```/MiKoMH/GenCS/latexml/machines/en/indexreg.tex```, where
[code]
converts to
[code]
This begs two questions
* why is ```\MFdatastore{0}``` absent?
* how can we find out about

[2015-10-19 07:19] kohlhase commented on #152
in the meantime, I have asked Mihnea to handle these specially in the stex-compiler and report them.

[2015-10-19 09:58] angerhang commented on #132
I think the changes I made in this https://github.com/KWARC/sTeX/pull/137/files pull request disappeared somehow.
The `<omdoc:import>` is back to the not working version.
[code]
See the current version at: https://github.com/KWARC/sTeX/blob/master/sty/modules/modules.sty.ltxml
Don't know exactly why, but it might because I deleted my fork after the merge request. However, deleting a fork after the

[2015-10-19 10:10] kohlhase commented on #132
I do not know why the changes disappeared, but thanks for re-instating them.

[2015-10-19 14:34] kohlhase opened #154 "functions= no longer works"
it used to be that on a statement you could give the ```functions=``` key and specify some identifiers as functions (so that the LaTeXML parser treats them correctly).  This does not seem to be working any more. We now get the error
[code]
If I remember correctly, ```functions=``` expands to ```\lxDeclare``` in some way.
@dginev do you remember?

[2015-10-20 11:56] kohlhase opened #155 "DCM/WorkAddress regression"
It seems that ```dcm.sty.ltxml``` and ```workaddress.sty.ltxml``` do not work together any more. It is not possible to generate OMDoc for problems. Running latexml on ```MiKoProblems/GenCS/source/dmath/en/Geometric_properties.tex``` gives the error
[code]
This seems to happen on the source
[code]
which refers to
[code]
in ```MiKoProblems/GenCS/lib/WApersons.tex```. The offending code seems to be
[

[2015-10-21 03:02] dginev commented on #155
The error you cited comes from line 28 in dcm.sty.ltxml, as it says:
https://github.com/KWARC/sTeX/blob/master/sty/dcm/dcm.sty.ltxml#L28

And indeed that line of code seems to predate the last big LaTeXML refactoring which moved KeyVals under the ```Core``` subnamespace. The current instantiation of a KeyVal needs to be respectively:
[code]

as exemplified in LaTeXML here:
https://github.com/bruce

[2015-10-21 03:33] kohlhase commented on #155
thanks deyan, I vaguely remember that. @angerhang could you do that soon?

[2015-10-21 11:53] angerhang commented on #155
Sure I will take a look tonight.

[2015-10-21 11:53] angerhang commented on #155
Sure I will take a look tonight.

[2015-10-21 23:32] angerhang commented on #151
This one can be fixed after https://github.com/brucemiller/LaTeXML/commit/526da1f2466d2973d07eb89e767a2c7fecb586ea  is merged into LaTeXML's KWARC branch.

[2015-10-21 23:36] angerhang commented on #154
I wonder if this has to do with #149.
They both attempt to terminate text mode.

[2015-10-22 00:15] angerhang commented on #150
This does seem to be a timing issue for two reasons:
[code]
in `MiKoMH/GenCS/source/adt/en/adt-def.tex` has no problem finding CMP, so the findnode is able to find `omdoc:CMP` if there is one.

And the second reason what you said: `CMP` exists in the final output.

[2015-10-22 04:01] kohlhase commented on #151
@dginev would you please do the merge and/or show @angerhang how to do that?

[2015-10-22 04:03] kohlhase commented on #150
so, can you solve it?

[2015-10-22 04:08] dginev commented on #151
I would rather I kept merging so that I keep my eye on conflicts (and work towards reconciling the fork back with Bruce's master). I just merged and pushed live, feel free to test.

[2015-10-22 04:09] kohlhase commented on #151
that makes sense, thanks a lot.

[2015-10-22 04:33] kohlhase commented on #151
this seems to work, closing.

[2015-10-22 09:09] kohlhase opened #157 "timing (edef) issue for loadmodules in omgroup"
We can use ```\begin{omgroup}[loadmodules]{The $\protect\foo$}``` for  headings, where ```\foo``` is a symdef-defined macro. But this only partially works (e.g. for the complog notes it generates in ```notes.toc``` the lines
[code]
the four long lines are correct (they seem to come from the following part of ```omdoc.sty.ltxml1```
[code]
which is called in the ```omgroup``` environment.
Where the

[2015-10-23 00:17] angerhang commented on #150
Actually I suspect in `omtext.sty.ltxml` if
[code]
is openning `omdoc:CMP` early enough @dginev ?

How can we make `CMP` open more promptly?

This is part of the `$document` at the time of `findNode`
[code]
`CMP` is clearly not present.

[2015-10-26 10:43] angerhang commented on #151
This has been fixed.

[2015-10-26 10:43] #151 closed

[2015-10-26 10:44] angerhang commented on #155
This has been fixed as well.

[2015-10-26 10:44] #155 closed

[2015-10-27 09:45] kohlhase commented on #47
indeed, this is solved. closing.

[2015-10-27 09:45] #47 closed

[2015-10-27 09:46] kohlhase opened #159 "implement \sref in sref.sty.ltxml"
The current stubs for that only make the errors shut up. We should think talk about the oref element in OMDoc.

[2015-10-30 06:44] kohlhase opened #160 "make omdoc.sty, problem.sty, and hwexam.sty multilingual"
We have started building up an infrastructure for multilingual keywords in sTeX starting with ```statements.sty```. But there are other keywords as well, e.g. in the packages mentioned above. They need to be multilingualized as well.

[2015-11-01 11:11] kohlhase commented on #142
I have added some other ```*-ngerman.ldf``` files (see ```sTeX/sty/*/*-ngerman.ldf```). I think I am through with that. Re-assigning to Jinbo for Chinese.

This is an interesting problem. As Chinese is not supported by babel, I am not sure how we can switch the sTeX keywords. Currently we are generating e.g. "Definition". I wonder how CJK does that for things like "Figure" or so. Is there a genera

[2015-11-01 12:14] kohlhase commented on #142
hmmm, it seems that the mechanism for keywords is ```\CJKcaption``` as explained in http://tex.stackexchange.com/questions/24878/cjk-package-and-figurename Maybe that is what we have to do. It seems a bit less elaborate than babel.

[2015-11-01 20:57] angerhang commented on #159
In 7f84c811339dd9f6a7b24281451478e1eafee670, I added a temporary binding for sref.

What would be the corresponding omdoc for `sref`, if `fallback`, `pre`, and `post` are not allowed as attributes?
[code]

[2015-11-01 21:13] kohlhase commented on #159
That's what I meant by

[2015-11-02 06:29] kohlhase commented on #159
I have been thinking about giving ```oref``` optional children - attributes do not allow MathML, so we need elements. Something like
[code]
for ```... \sref[pre={in~},post=!,fallback=above]{foo} ...```.
I have pushed an extension of the OMDoc schema along these lines, cc: @m-iancu

[2015-11-02 09:37] kohlhase opened #161 "move out MathHub support into its own DTX"
Currently, the MH support has grown organically. We should have a separate module  ```sTeX/sty/mathhub``` that combines the MH functionalities. It should have styles
* ```mathhub.sty/ltxml``` for ```\MathHub```, ```\mhcurrentrepos``` and ```\libinput```.
* ```mh-modules.sty/ltxml``` for ```\importmhmodules``` etc.
* ```mh-*.sty/ltxml``` where necessary

We can put all of them into one ```mathhub.d

[2015-11-02 23:59] La-Stravaganza commented on #147
Error message: ``! LaTeX Error: Command `\tilde' already defined.``

This is because the macro ``\tilde`` is defined by ``fontspec`` package, more specifically, by ``\DeclareMathAccent{\tilde}   {\mathalpha}{legacymaths}{126}``

A short introduction about ``\DeclareMathAccent`` can be found here: https://www.slac.stanford.edu/comp/unix/package/tex/latex/fntguide/node18.html

In short, ``fontspec``

[2015-11-03 00:17] dginev commented on #147
Problems like these are some of the major reasons people hate using LaTeX. Great catch @La-Stravaganza !

[2015-11-03 05:21] kohlhase commented on #147
I am still not quite sure where the error comes from.
I see that in ```MathHub/smglom/meta-inf/lib/pre.tex``` the ```fontspec``` package (why do we need it at all?) is loaded before ```preamble.tex```, which loads ```calbf.sty```. That contains the line
```\def\tilde{\widetilde}```. And ```\def``` does not complain, so it must be ```\DeclareMathAccent```, but that is already over, no?

[2015-11-03 05:22] kohlhase commented on #161
I am using the ```mh-extract``` branch for this.

[2015-11-03 05:57] kohlhase commented on #147
I have looked, and there is only one use of \tilde in all of our sTeX material, so I guess I will go along with deleting that. I have made the change and pushed. closing.

[2015-11-03 05:57] #147 closed

[2015-11-03 07:59] angerhang commented on #159
This is done.

[2015-11-03 07:59] #159 closed

[2015-11-03 12:48] #128 closed

[2015-11-04 05:28] kohlhase opened #163 "move views and structures out of modules.sty"
this would make things more organized.

[2015-11-04 06:00] kohlhase commented on #163
and while we are at it, there seems to be a problem with from/torepos attribute.

[2015-11-04 06:18] kohlhase commented on #163
I guess I will also use the ```mh-extract``` (see #161) for this.

[2015-11-04 06:59] kohlhase opened #164 "remove \usevocab and \usemhvocab in examples."
It is redundant \usemodule and \usemhmodule are sufficient.

[2015-11-04 07:03] kohlhase opened #165 "think about folding smultiing into modules/views"
It is not clear to me that we need the distinction between monolingual sTeX and multilingual sTeX, since module signatures are very very similar to sms files. Maybe that functionality can be unified back? This would make sTeX simpler.

[2015-11-07 07:44] #140 closed

[2015-11-08 13:33] angerhang commented on #148
How are the macro names unique here?
Aren't they both `bar` in this case?
[code]
[code]

[2015-11-09 05:25] kohlhase commented on #148
yes, and that shows that it is wrong to just use the ```name``` directly for the ```id```. It is probably better to use the macro name (which is much more unique) as the main component for the ```id```.

[2015-11-09 08:20] angerhang commented on #148
I am still confused. I should make myself more clear.

For macro names aren't you referring to `stex:macro_name`?

[2015-11-09 09:03] kohlhase commented on #148
Let's talk about this in person, I am here most of the day.

Michael

On 09/11/15 09:20, angerhang wrote:

--
----------------------------------------------------------------------
 Prof. Dr. Michael Kohlhase,        Office: Research 1, Room 168
 Professor of Computer Science  Campus Ring 1,
 Jacobs University Bremen           D-28759 Bremen, Germany
 tel/fax: +49 421 200-3140/-493140  skype: m.ko

[2015-11-09 13:47] kohlhase commented on #148
Ah, I see, my example is completely messed up. It should be
[code]
but I cannot currently build that, due to errors, let's squash those first.

[2015-11-09 18:45] angerhang commented on #143
I don't know why this issue still appears in `feature/libinput` branch.

Probably because '\libinput' wasn't implemented correctly, will investigate more tomorrow.

[2015-11-10 10:02] kohlhase opened #168 "omdoc.cls.ltxml loades only article.cls.ltxml"
it should look at the options and load the appropriate class.

[2015-11-10 10:03] kohlhase opened #169 "stex classes should take mh option that loades the -mh versions."
and do not forget to add option ```mh``` to all MathHub stuff.

[2015-11-10 17:29] kohlhase opened #170 "weird sTeX/LaTeXML error"
Currently (i.e. after the reorganization of the MathHub package), we get the following error on modules, e.g. ```MathHub/smglom/mv/equal.tex```, every sTeX module actually, so I think the error is in the LATeXML bindigns. We get
[code]
Apparently it is in the build phase but that should not give a fatal. And it seems to mis-interpreting the command sequences and put them in as text. We are a bit s

[2015-11-10 17:30] kohlhase commented on #170
BTW, we (both Hang and me) did look for the error extensively and found quite a few unrelated things, ...

Also this has been appearing before Bruce's big changes, so that is also not ie.

[2015-11-10 17:31] kohlhase commented on #170
cc @angerhang

[2015-11-10 17:52] dginev commented on #170
Can you attach the entire log of the conversion? I won't have time to run it myself too soon.

[2015-11-10 18:00] kohlhase commented on #170
sure, but I do not find it very informative, which is one reason why I am asking for your help.
[code]

[2015-11-11 15:34] dginev commented on #170
I just merged Bruce's latest fixes, can you check if they solve this? (They probably don't)

The context of the error message is very useful for me, but to really get a handle of the problem I would need to run this myself and tinker... So I may have to block you for now.

A first question to be answered is where does
[code]

originate from, and is the binding handling it correctly?

[2015-11-11 18:08] angerhang commented on #170
Thanks for merging. I think the error info becomes much more informative now.
In this way Michael and I would have a better understanding of what goes wrong.

For your question:

`libinput` should come from the new `mathhub` package.
In the past we had Rawtex for it, and now we in `feature/libinput` there is a implementation for `lib input` which still has the same error message (although I am not

[2015-11-11 21:30] kohlhase commented on #170
Deyan, Hang,

it seems that the error has healed itself. I have faked \libinput, so
Hang should implement that correctly, but that seems to be it (for the
moment).

Michael

On 11/11/15 16:34, Deyan Ginev wrote:

--
----------------------------------------------------------------------
 Prof. Dr. Michael Kohlhase,        Office: Research 1, Room 168
 Professor of Computer Science  Campus Ring 1,

[2015-11-12 01:02] angerhang commented on #145
In `feature/libinput` branch, I ended up putting many macros/constructors RawTex in `tikzinput.sty.ltxml` and `metakeys.sty.ltxml`, because after we used `addmetakey` in `tikzinput` package, we haven't got the chance the implement the `metakey` properly yet, ` but `libinput` seems to work now.

[2015-11-12 01:03] angerhang commented on #145
Perhaps we should also try to implement `metakey` and `tikzinput` packages afterwards.

[2015-11-12 06:07] kohlhase commented on #145
I have to look at the ```tikzinput``` package again. First, it needs to be split into the ```tikzinput-mh.sty.ltxml``` and then I think I can do it without ```\addmetakey```, so we will not have to implement ```metakeys.sty.ltxml``` at all.

[2015-11-12 06:08] kohlhase commented on #145
could you please push the libinput implement only?

[2015-11-12 06:14] kohlhase commented on #145
then I can fix the ```\mhtikzinput``` stuff and reorganize it.

[2015-11-12 08:20] angerhang commented on #145
Yeah I just cleaned it up.

[2015-11-12 08:25] kohlhase commented on #145
then please merge into master

[2015-11-12 18:40] kohlhase commented on #170
this seems fixed, closing. Thanks for all the help.

[2015-11-12 18:40] #170 closed

[2015-11-12 21:21] kohlhase commented on #169
I have mostly implemented this on the ```mh-classes``` branch. The LaTeX side seems to work, but I would like to have @angerhang implement it fully for the LaTeXML side. This is almost done, except for the options handling, wherever there is a
[code]
and for the other packges as well.
And of course we need debugging.

It would be great, if we could meet between 8 and 10 tomorrow to talk about this

[2015-11-12 21:22] kohlhase commented on #168
This is also mostly done, but needs LaTeXML side debugging, assigning to @angerhang

[2015-11-13 06:15] kohlhase commented on #169
with the ```make contingent on the 'mh' option``` I mean that the packages like ```structview-mh``` should only be loaded if ```mh``` option was given to the package (see the LaTeX implementation)

[2015-11-16 00:49] angerhang commented on #169
I just pushed the option handlings and of course more debuggings need to be done : )

[2015-11-16 06:49] kohlhase opened #171 "renovate sTeX.pdf"
this is very old-fashioned.

[2015-11-16 06:49] kohlhase commented on #163
done that, closing.

[2015-11-16 06:49] #163 closed

[2015-11-16 06:57] kohlhase commented on #164
done.

[2015-11-16 06:57] #164 closed

[2015-11-16 06:57] kohlhase commented on #161
done.

[2015-11-16 06:57] #161 closed

[2015-11-16 06:58] kohlhase commented on #148
is that done now?

[2015-11-16 08:29] angerhang commented on #169
By debuggings I mean the issues that are not related to the options.

The options are already tested and I think we can close this.

[2015-11-16 08:30] #169 closed

[2015-11-16 10:14] #148 closed

[2015-11-17 14:23] cmaeder opened #173 "fix latex error for idc.pdf"
The error can be observed for https://travis-ci.org/KWARC/sTeX/builds/91596476 and my
`idc.log` file ends with

[code]

[2015-11-17 14:38] kohlhase opened #175 "stex bindings need to pass on the mh option"
It seems that there is still a problem in the handling of the ```mh``` option in ```*.sty.txml```. Hang has added
[code]
but this disables the old
[code]
```ProcessOptions()``` does not pass the mh option on to ```mikoslides.sty.ltxml``` and ```omdoc.cls.ltxml```

HMMMM, I am trying to fix this, but it all extremely messed up. I wonder how this was all supposed to run at any time, ... we should ta

[2015-11-17 15:24] cmaeder commented on #173
when changing back `sty/Makefile` (after #174) to include `sref` also `physml` could be re-enabled.

However, `owl2onto` fails with:

[code]

[2015-11-17 17:48] angerhang commented on #175
Well I think I was plainly being stupid : >

Although I don't know why the handling of `mh` disables the old options handling on `undef`, I think we can try
[code]

I will make a patch later today, if this change resolves the problem.

[2015-11-17 18:53] angerhang opened #176 "Two "sref.sty.ltxml" packages"
@kohlhase  Shouldn't the `sref` package in the mathhub directory be named as `sref-hm` instead?
[code]

[2015-11-17 19:26] kohlhase commented on #175
you have to be careful here, I think that you probably have to do something like
[code]
I possibly for tikzinput.sty as well: The options handled specially do not trigger ```DeclareOption(undef, ....``` -- at least that is my understanding.

[2015-11-17 19:31] kohlhase commented on #176
I have removed them. thanks for the vigilance

[2015-11-17 19:31] #176 closed

[2015-11-17 20:16] kohlhase commented on #173
I have fixed the sref and owl3onto problems on the ```mh-classes``` branch. I hope to be able to merge that soon.

[2015-11-17 20:52] kohlhase opened #177 "omdoc.cls cannot patch \begin{document}"
Currently, ```omdoc.cls``` tries to patch the document environment, which the ```auxhook``` package prevents. We are currently working around this by using ```\metasetkeys{document}{id=foo}``` which only works for the LaTeX side, since ```\metasetkeys``` is not defined on the LaTeXML side.

There are two things we can do to fix this. Either try something like
[code]
but this does not work.
Or make

[2015-11-18 05:06] kohlhase commented on #177
I have looked at ```auxhook.sty``` which comes in from using the nice packge ```mdframed``` in sTeX, and I do not think we can just patch the ```{document}``` environment. So we have to go the other way.

I will do this in the new ```fix-document``` branch.

[2015-11-18 05:35] kohlhase opened #178 "LaTeXML: How to use keys outside an optional argument"
In #177 I have the problem that I want to give key/value arguments to the document environment. But I cannot (for LaTeX reasons) give the ```{document}``` env an optional argument. Therefore I want to use a separate macro ```\documentkeys{id=foo,...}``` in the preamble. That is easy on the LaTeX side, and I can implement
[code]
Where I still need to have a sub ```activatekeys``` that goes over the

[2015-11-18 05:50] kohlhase commented on #177
I have implemented the LaTeX part and partially the LaTeXML part (see #178 for the road towards the remainder)  and added a test file (```test.tex```). Assigning to Hang. When this is fully implemented, make a pull request without the test file. Then I can change the MH sources.

[2015-11-18 19:32] angerhang commented on #175
In fact I am suspicious if this is a LaTeXML bug.
In the preamble we have
[code]
In `smglom` package if we have
[code]
`mathhub` package is not being loaded, but if we have
[code]
`mathhub` is loaded. Which can tell us that `mh` option is doing its job, it might just be `ProcessOptions` is not functioning here? @dginev

[2015-11-18 20:56] kohlhase commented on #175
I think that this is not an error. As I said above, LaTeX refuses do do any ```\RequirePackage``` before the Processoptions, and that is correct, since otherwise you would not be able to pass options around.

I am not sure why the version with ExecuteOptions works, but _that_ may be a LaTeXML error. You should use do what I am sketching in the original desription, namely
[code]
That should do the

[2015-11-19 00:39] angerhang commented on #175
After the most recent change, the option handling should do load the packages properly. However there are two things we need to address before merging `mh-classes` branch:
I. The order of loading packages makes the option handling failed:
[code]
For the case of `smglom` class, if we trace down the current option passing order, the `mh` option for `modules.sty.ltxml` should be passed by `smglom.sty

[2015-11-19 00:46] angerhang commented on #175
II. The `smglom` class's option never gets activated,

In the `smglom.cls.ltxml` file I added
[code]
and it turns out that the option is never be activated  from `smglom.cls.ltxml`

I think there might be two possible reasons for this:
1. `ProcessOptions();` command is not actually doing the processing work.
2.  Perhaps the preambles are not loaded properly so the option is not be given to LaTeXML

[2015-11-19 05:12] kohlhase commented on #175
It would help me understand what is going on if you told me what file you are testing on.

[2015-11-19 05:23] kohlhase commented on #175
I am looking, it seems that ```omdoc.sty.ltxml``` was not passing the ```mh``` option to ```omtext.sty.ltxml```. I fixed that, but it still does not help.

[2015-11-19 05:46] kohlhase opened #179 "debug variable class loading in omdoc.cls.ltxml"
in ```omdoc.cls.ltxml``` the option ```book``` should trigger loading ```book.cls.ltxml```, but I have never really tested it. This should be done. One thing that certainly does not work is that
[code]
only passes the options to ```article.cls.ltxml``` That should use the value of ```omdoc@class```

[2015-11-19 05:47] kohlhase commented on #179
not top priority, but probably can be done easily while you are at the options stuff anyway.

[2015-11-19 05:50] kohlhase commented on #175
I am just guessing here, could it be that you have to use
[code]
so that it is visible, I have tried that, but no avail.
I guess  you will just have to resort to good old debugging with ```print STDERR``` statements. I would add these in the ```DeclareOption ('mh'``` to see how the options travel. Then you can decide which ones they are.

I find 1. conceivable but not very likely and 2. works well

[2015-11-19 05:51] kohlhase commented on #175
BTW, I dislike the name of the flags e.g. ```@omdoc```, it should be something with ```mh``` in them e.g. ```mh@omdoc```. Please also change that.

[2015-11-19 05:52] kohlhase commented on #175
BTW, you can extract all the ```*.ltxml``` files from the ```*.dxt``` without running pdflatex by ```make package``` that saves me time.

[2015-11-19 06:28] kohlhase opened #180 "make a stex.dtx"
We have ```stex.tex``` (for top-level documentation) and ```stex.sty``` and ```stex.sty.ltxml``` they should be combined and documented.

While we are at it, we should probably also have a tikz graph of the package/class loading structure.

[2015-11-19 06:33] kohlhase commented on #180
and while we are at it, double-check that the package/class loading structure is synchronized between LaTeX and LaTeXML.

[2015-11-19 06:35] kohlhase commented on #175
BTW, I regularized and synchronized the module loading structure and given ```stex.sty.ltxml``` option handling.

[2015-11-19 07:51] kohlhase opened #181 "is modules.sty.ltxml dependency on \presentation adequate?"
the LaTeX side is independent of presentation. Why is the LaTeXML side? I think we may want to refactor that and put the \@@use formatter into modules.sty.ltxml.

[2015-11-19 08:31] angerhang commented on #175
I tested on ` mv/source/structure.en.tex`
I think the major obstacle is if `ProcessOptions` really work. I put the following
in `smglom.cls.ltxml`
[code]
But the helper message doesn't appear.

I stop the docker completely by
[code]
so cacheing shouldn't be an issue.

[2015-11-19 08:34] angerhang commented on #175
We can use
[code]
to test if the options are doing their jobs.

However, even if we do something like
[code]
This `mh` is still not activated unless we have `ExecuteOptions('mh')` to process the option deliberately.

[2015-11-19 13:02] angerhang commented on #175
After playing around with the minimal examples. I finally understand why the 'mh' never gets activated here.
[code]
If we look closely here, most of the packages are preloaded before LaTeXML starts to digest `structure.en`, and apparently all the options will malfunction, which means we cannot take advantage of options as long as we are preloading packages.

[2015-11-19 13:07] angerhang commented on #175
More concretely, and in respect to the minimal example, the option is only handled if the package is loaded after Digesting Tex

OptionTest.cls.ltxml passes the option to `rec.sty.ltxml`
[code]

and `rec.sty.ltxml` prints a message if `test` is being passed
[code]

[code]

[2015-11-19 13:14] angerhang commented on #175
I am not quite sure how to work around other than not preloading all the packages that are in the flow of `mh` option passing.

[2015-11-19 19:03] kohlhase commented on #175
Dear Hang,

I think that preloading should interfere with options. This is (for me)
quite clearly a bug in LaTeXML, and you should report it as such.

Generally, preloading should not in any way interfere with the semantics
of the packages, and the options are part of that.

So just make a minimal example and file a report (and cc me).

Michael

On 19/11/15 14:14, angerhang wrote:

--
------------

[2015-11-19 19:10] kohlhase commented on #175
Possibly we have to preload them with the right options. That should be
doable.
I am trying to change
.../LaTeXML/resources/Profiles/stex-slides-module.opt...

On 19/11/15 20:03, Michael Kohlhase wrote:

--
----------------------------------------------------------------------
 Prof. Dr. Michael Kohlhase,        Office: Research 1, Room 168
 Professor of Computer Science  Campus Ring 1,
 Jacobs Un

[2015-11-19 19:10] kohlhase commented on #175
Ha, that seems to do the trick.

[2015-11-19 19:14] kohlhase commented on #175
Please update LaTeXML, test widely and merge.

[2015-11-19 19:43] dginev commented on #175
To confirm, you needed to pass the options during preload and things worked, correct?

I.e. this is not a bug with LaTeXML?

[2015-11-19 19:45] kohlhase commented on #175
Indeed, I confirm this.

[2015-11-19 20:10] kohlhase opened #183 "libinput implementation for LaTeXML incorrect"
the LaTeXML implementation of ```\libinput``` currently has the paths ```../../../lib/#1``` and ```../../../../meta-inf/lib/#1``` hardwired in. That is not correct, for instance for smglom these need to be ```../../lib/#1``` and ```../../../meta-inf/lib/#1```.
I know I said that this was sufficient, but it is not.
Here is what we need to do (in pseudo-perl).
[code]
This is also what I do in the La

[2015-11-20 06:16] kohlhase opened #185 "id problems"
I get lots of fatal errors (both on ```master``` and ```mh-classes```) with id problems. This is an example.
[code]
Is this just my system or is this a general thing? If you do not have the same problems, then

[2015-11-20 06:41] kohlhase commented on #185
hmmm, it seems that this is just my local setup on my mac. With docker things succeed.

[2015-11-20 06:41] #185 closed

[2015-11-21 10:30] kohlhase opened #186 "update the filedate utility"
In ```sTeX/bin/filedate``` we still use ```svn``` to compute the repository file date with
[code]
This should be changed over to ```git```. I think the best way to get the file date is via ```git log```:
[code]
Just pick out the line  with ```Date``` and convert ```Aug 6 07:29:30 2015``` to ```2015/08/06``` (note that months and dates have to be double-digit.
I would like to have this soon, so tha

[2015-11-21 11:22] kohlhase opened #187 "\begin{modnl}{foo}{en} does not seem to import foo.tex any more"
I am testing the ```mh-classes``` branch, because it seems almost ready for merging. But I run into errors at when converting ```smglom/mv/source/equal.en.tex```:
[code]
When I look at the log file it seems that ```equal.tex``` is never loaded (and therefore ```\eq``` is undefined). I am not sure where this comes from. We will need to fix this before we can merge.

[2015-11-21 11:39] kohlhase commented on #187
I found part of the problem, ```smglom.sty``` was not passing on the ```mh``` option to ```smultiling```. I have fixed that and pushed. But the error remains.

[2015-11-21 13:01] kohlhase commented on #187
The problem seems to be that in ```smultiling.sty.ltxml``` in the definition of the ```{modml}``` enviroment, somehow the call to ```importmoduleI``` is no longer working. I have no idea why. Here I did not even move anything around.

[2015-11-21 13:03] kohlhase opened #188 "is mhmodnl every used?"
We have implemented the ```mhmodnl``` environment, and it is not used, certainly not in SMGloM. Does it even make sense? If not it should be removed.

[2015-11-21 13:08] kohlhase commented on #187
the interesting thing is that the current master branch still works (even though most of the moving-around already landed).

[2015-11-21 13:38] kohlhase commented on #187
I have found and fixed the problem, I had lost the ```langfiles``` option for ```smultiling.sty.ltxml``` in ```smglom.sty.ltxml```. I have also merged the ```mh-classes``` branch.

[2015-11-21 13:38] #187 closed

[2015-11-21 13:39] kohlhase commented on #183
this seems to work, closing.

[2015-11-21 13:39] #183 closed

[2015-11-21 13:40] kohlhase commented on #180
done closing.

[2015-11-21 13:40] #180 closed

[2015-11-21 13:40] kohlhase commented on #175
this is fixed and the branch landed

[2015-11-21 13:40] #175 closed

[2015-11-21 13:42] kohlhase commented on #160
I have done that myself

[2015-11-21 13:42] #160 closed

[2015-11-21 13:42] kohlhase commented on #132
this seems to work now.

[2015-11-21 13:42] #132 closed

[2015-11-21 13:44] kohlhase commented on #93
I think that this is working now, closing, if not, please reopen.

[2015-11-21 13:44] #93 closed

[2015-11-21 13:44] #44 closed

[2015-11-21 13:45] kohlhase commented on #72
I think we are not using latexmlstomp any more

[2015-11-21 13:45] #72 closed

[2015-11-21 13:46] kohlhase commented on #4
I think that this is solved by using ```\operatorname```

[2015-11-21 13:46] #4 closed

[2015-11-21 14:09] kohlhase commented on #173
this works now that mh-classes has landed.

[2015-11-21 14:09] #173 closed

[2015-11-21 14:10] kohlhase commented on #157
this has been solved.

[2015-11-21 14:10] #157 closed

[2015-11-21 14:10] #145 closed

[2015-11-21 14:11] kohlhase commented on #139
I think this works.

[2015-11-21 14:11] #139 closed

[2015-11-21 14:30] kohlhase commented on #149
this should have been solved by adding ```\mathop``` and ```\operatorname```.

[2015-11-21 14:30] #149 closed

[2015-11-21 14:30] kohlhase commented on #143
this should work now.

[2015-11-21 14:30] #143 closed

[2015-11-21 14:31] kohlhase commented on #89
this seems done.

[2015-11-21 14:31] #89 closed

[2015-11-21 14:32] kohlhase commented on #82
I have no idea what I wanted there.

[2015-11-21 14:32] #82 closed

[2015-11-21 14:33] kohlhase commented on #71
did anything happen here?

[2015-11-21 14:35] #39 closed

[2015-11-21 14:46] kohlhase commented on #12
this seems gone.

[2015-11-21 14:46] #12 closed

[2015-11-21 14:48] kohlhase commented on #48
This is something that needs to be solved in the contextability/late binding discussion. Nothing for @angerhang really.

[2015-11-23 06:48] kohlhase opened #190 "large regression in formula transformation"
Houston, we have  a problem. It seems that my verdict that Bruce's revamp of Math was OK was premature and that formula transformation in sTeX has regressed badly.

In SMGloM ```latexml``` silently generates nothing (the simplest example is ```.../smglom/source/equal.en.tex``` which generates ```(written ),``` from ```(written $\eq{a,b}$),```.

The absence of errors is why I thought that things we

[2015-11-23 07:50] dginev commented on #190
Generating omdoc is already doing too much to debug the regression btw, generating the LaTeXML XML and inspecting that is a lot more useful. I am still sad for the move to lmh, since there seems to be no easy way to do that.

I ended up running:

which for me is decidedly not error-free:

Status:conversion:2
6 errors; 5 undefined macros[\inset, \rfrac, \RealNumbers, \fun, \absval]

I am also getti

[2015-11-23 07:52] kohlhase commented on #190
Oh, I see that my fixes to differentiable.tex and friends are on the other branch, so please hold off on this for the moment. I have to fix this later today.

[2015-11-23 10:00] kohlhase commented on #190
I have updated the files, they are OK from the LaTeX point of view. And they silently fail on \symdef-defined macros as well. At least the behavior is consistent now.

[2015-11-24 06:18] kohlhase opened #192 "do something about XMRef"
We had an external reference to ```latexml.sty``` in ```mikoslides.sty```, which I deleted for sanitary reasons. But we are using the ```\LXMId/Ref``` macros in some places. And these overlap with the STR functionality in the ```omdoc``` package. I should resolve this once and for all and build the respective infrastructure. Maybe even add the winner to the SMS creation so that we can inherit cros

[2015-11-24 09:19] kohlhase commented on #185
Deyan told me that Bruce and he will take care of ids eventually.

[2015-11-24 09:21] kohlhase commented on #190
I have asked @cmaeder  to revert the merge of Bruce's changes on the ```master``` branch of KWARC/LaTeXML and move them to a new ```dev``` branch, so that sTeX becomes usable again on MathHub.info. Then we can sort out the merge problems in peace on ```dev```.
I suspect that this will reopen the issue #151 (the statement that this is fixed was probably only because no formulae are built any more).

[2015-11-24 09:33] #186 closed

[2015-11-24 13:11] kohlhase commented on #190
hmmmm, @cmaeder has moved Bruce's changes to the ```dev``` branch, and still we do not get any OpenMath. So something else must have gotten lost (at least we kwow who is not to blame).

[2015-11-24 13:40] kohlhase commented on #190
I am quite stymied about what to expect here I would think that the problem must be somewhere in ```modules.sty.ltxml```, but there were no changes even near the symdef  stuff. I just moved the mh and views stuff out and that was it.

[2015-11-24 13:42] kohlhase commented on #190
@angerhang could you please go through the commits in the master branch to see which commit broke the functionality?

[2015-11-24 14:26] kohlhase commented on #192
I have copied the relevant pieces of ```latexml``` package into the ```omdoc``` package, so that we do not lose functionality overall.

[2015-11-24 15:09] dginev commented on #190
So there seems to be something fundamentally different between the example and the implementation of ```\importmodule``` that I am looking at.

Your example has:
[code]

But the LaTeXML binding expects a keyval as the optional argument, where it will only load an sms file if the ```load=``` key is given. Did the spec of importmodule diverge from the binding?

That would explain the size of the reg

[2015-11-24 15:19] dginev commented on #190
Ignore my last comment, it seems my sTeX copy wasn't clean and didn't update correctly.

[2015-11-24 16:11] dginev commented on #190
I dug around for a while and am now seeing the symdef-based formulas entirely gone from the final produced XML (already before post-processing). I'll dig a bit more later today.

[2015-11-24 17:16] dginev commented on #190
Regression was introduced at: b2c7dc92d6349c9fc360bdcf29fe1a2962288f90

Left comment there.

[2015-11-24 17:16] #190 closed

[2015-11-24 17:36] dginev commented on #190
Not sure if you have an issue for the regression with the for and about attributes of definitions, I fixed that here: b48d208e2f45b13e6979f45010a2c93552950c42

We had the internal representation of LaTeXML objects make it to the stringified attributes, which is usually solved by a strategic placements of ```ToString```

[2015-11-24 17:44] dginev commented on #185
I am seeing these also for the arXiv conversion, but only on my local machine - they are particular to newer versions of libxml. We thought we fixed that some months back, but it seems it is recurring again. Definitely a core LaTeXML issue.

[2015-11-24 20:00] angerhang commented on #190
The syncing is done : >

[2015-11-24 20:20] kohlhase opened #193 "regression testing for sTeX."
The incident around #190 shows us that we need a regression testing mechanism for sTeX. We had a glaring problem and did not discover it for more than 4 months. Disconcerting. Here is the plan
1. set up travis for sTeX (done by Christian).
2. develop a reasonable-coverage collection of MathHub content and its "intended results"
3. do the same for a non-MathHub collection.
4. collect some specific

[2015-11-24 20:33] dginev commented on #193
Here is my ideal workflow, from a very myopic LaTeXML ecosystem perspective, which you can adapt to a MathHub-compatible flow.

LaTeXML now supports plugins, and an example of a successful KWARC plugin that has been used for a long while are [the bindings for MathWebSearch](https://github.com/KWARC/LaTeXML-Plugin-MathWebSearch).

That tiny example of a plugin for MWS also has a single [regression

[2015-11-24 20:36] dginev commented on #193
We could try to move the entire KWARC fork of LaTeXML to the same plugin as the sTeX bindings, which would also simplify the current need to periodically reintegrate the master LaTeXML with the KWARC fork. For that we would need to work with Bruce to transfer all sTeX-required modifications of LaTeXML to master, which is easier said than done. Plugins can't override core LaTeXML files.

[2015-11-24 20:52] kohlhase commented on #193
Let me give you what I have been thinking; and I think this is independent of the plugin idea, which sounds appealing -- prossibly because I do not quite understand what it entails.

Rather than having lots of small tests I was thinking of the two bigger (but still somewhat minimal) test suites that I was mentioning above. Here is the workflow I envision
1. on every commit to the sTeX repository,

[2015-11-24 21:01] kohlhase commented on #193
Now let me come to the plugin idea, and see what would be involved in this. Correct me where I am wrong. I would
1. move all the existing *.ltxml files from sTeX to the plugin repos and commit them there, probably conserving the directory organization.
2. add lots of comments (actually, possibly extract comments from the DTX files)
3. remove all the ltxml from the DTX files in the sTeX distributio

[2015-11-24 21:19] dginev commented on #193
Sounds exactly right. And I don't have a strong opinion whether many small tests are better or worse than 1 or 2 larger ones, as long as they cover all essentials.

Btw the best way to keep the LaTeX and Perl coverage the same would be to try both against the same test suite, and Travis can validate that both pdflatex and latexml are completing error-free (though I am not sure if PDF diff is a sen

[2015-11-24 21:25] kohlhase commented on #193
yes, that was the plan. Of course, there is (as far as I know) no good way to compare two PDF files for "looking the same". Or at least I know of none. And what we would really need is a utility that compares the HTML generate from the OMDoc to see whether it looks the same as the PDF. Well, actually, we could generate derived versions from the PDF via pdf2ascii and html2ascii and compare them. Th

[2015-11-24 23:03] angerhang commented on #179
I think after understanding how LaTeXML handles preloading with options, this should no longer be an issue.

I tested it and it is true that if we preload `omdoc.cls` with `book`, variable class loading will load `book.sty.ltxml`

but concerning your second remark, I don't see how the `undef` option is only being passed to `article.cls`, from the test I ran, the option is also being passed `omdoc.

[2015-11-25 05:11] kohlhase commented on #179
thanks for testing, but the second remark is still true, I think that the second line should be
[code]
i.e. ```omdoc@cls``` instead of ```article```. But that also needs to be tested.

[2015-11-25 06:57] kohlhase opened #194 "update the Makefiles in examples for regression testing support"
along the lines of https://github.com/KWARC/MMT/issues/101 that should be relatively simple.

[2015-11-25 06:57] kohlhase commented on #193
I am spinning some of the "support regression testing" functionality for MathHub into https://github.com/KWARC/MMT/issues/101 I will have to support something like that in Makefiles of the sTeX distribution for the sTeX distribution (see #194).

[2015-11-25 07:01] kohlhase opened #195 "make an sTeX plugin."
In #193, Deyan suggested (again, but now he kind of convinced me)  moving the LaTeXML bindings for sTeX into a LaTeXML plugin, where it can be better maintained and tested. Here is what we need to do for that.
1. move all the existing ```*.ltxml``` files from sTeX to the plugin repos and commit them there, probably conserving the directory organization.
2. add lots of comments (actually, possibly

[2015-11-25 07:02] kohlhase commented on #193
I am also spinning the plugin discussion off to #195, since it is independent of the disucssion here.

[2015-11-25 07:03] kohlhase commented on #178
@angerhang this has highest priority for me at the Moment (together with #177) i.e. to make the ```fix-document``` branch land.

[2015-11-25 07:05] kohlhase commented on #168
duplicate of #197, closing

[2015-11-25 07:05] #168 closed

[2015-11-25 07:21] kohlhase opened #196 "rethink stex profiles"
Just to describe the problem (no good plan yet), need to discuss with @dginev:

We currently have the following profiles for sTeX
* stex-migration.opt
* stex-module.opt
* stex-omdoc-modules.opt
* stex-slides-module.opt
* stex-smglom-module.opt
* stex.opt
* stexml-module.opt
* stexml.opt

And they (except the first, which is highly experimental) are (almost) identical, which makes them hard to main

[2015-11-25 17:46] dginev commented on #178
Let me know if you need me for anything, it sounds like Michael's description already has the implementation figured out.

[2015-11-27 08:42] kohlhase commented on #195
I made a repository at https://github.com/KWARC/LaTeXML-Plugin-sTeX and copied over all things I think are necessary. Further issues go to that repository. Now Deyan should start making the plugin wrapper and start testing.

[2015-11-27 08:54] kohlhase commented on #196
I think they should go to the plugin probably.

[2015-11-29 10:59] angerhang commented on #178
@kohlhase did you forget to push the code which makes use of `document@id`?

Currently `fix-document` branch still has the original
[code]

[2015-11-29 11:00] angerhang commented on #178
Or that's what I am supposed to do?

[2015-11-29 11:01] kohlhase commented on #178
yes, that is what you should do (together with reading them information in).

[2015-11-29 11:02] kohlhase commented on #178
Note that there is also the LaTeXML ```document@ID``` that needs to be taken care of.

[2015-11-29 11:03] kohlhase commented on #178
NOTE also that I have moved some of the changes of ```fix-document``` into ```master``` already. So I think we will have some conflicts when you pull onto ```fix-document``` (do not forget to do that).

[2015-11-29 14:41] #178 closed

[2015-11-29 14:42] #177 closed

[2015-11-29 20:45] #179 closed

[2015-11-29 20:46] kohlhase commented on #179
thanks. We seem to be catching up. I guess I will have to open new issues :-).

[2015-11-30 02:12] angerhang commented on #179
Seems like to be the case :>

[2015-11-30 12:43] cmaeder commented on #188
I did not find any occurrence of `mhmodnl` (only plenty of `\begin{modnl} ... \end{modnl}`)

[2015-12-01 11:56] kohlhase opened #199 "notations lost their outer mrow"
It seems that notations have lost their outer <mrow> element, and as a consequence, they are invalid.
in ```smglom/source/set.tex``` we get
[code]
instead of
[code]
as we used to.

I am not sure whether the mrow is necessary in the presentation process @m-iancu could you comment? If it is not, then I can tweak the schema else, we should reinstate it. @dginev, could you also comment?

[2015-12-01 11:58] kohlhase opened #200 "stex:locator garbled"
On ```sTeX/example/background/functions.tex``` I get the error message
[code]
Note that you can recreate it with ```make mods``` in that directory.

[2015-12-01 13:29] kohlhase opened #201 "add sTeX/examples as regression tests to travis"
I would like to have them as regression tests. Currently, the LaTeXML does not run through (see #199 and #200), but I hope this will work out.  I guess the regression testing will work via Makefiles.

[2015-12-01 14:05] kohlhase commented on #201
Oh, and this is part of #193

[2015-12-01 19:59] dginev commented on #199
Doesn't ring any bells of the top of my head, but we should keep in mind Bruce could have introduced some underwater change of behaviour (or Hang could have). I can help debug if it gets hard to figure out if you get really stuck.

One thing I quickly checked is that LaTeXML always generates a wrapping ```<mrow>``` in expressions with at least one operator, so this could be an sTeX regression?

[2015-12-01 20:40] kohlhase commented on #199
Actually, @m-iancu said it will be quite simple for him to work without an outer mrow. So I will adapt the OMDoc schema I guess.

[2015-12-03 17:03] cmaeder commented on #201
In https://travis-ci.org/KWARC/sTeX/builds/94675339 you can see the differences of the .omdoc files.
(Absolute paths in `srcref` attributes obviously do not compare well.) The test should fail, but `git diff` does not return a non-zero exit code.

[2015-12-18 14:41] cmaeder commented on #71
I've observed this bug now for https://gl.mathhub.info/HelloWorld/smglom.git where we keep the .omdoc files within a test folder to allow comparisons with further runs.

I always get differences when I change the order of building (`--force` versus `--depsFirst`) or do not `--reboot`  (`latexmls`) for a second run. Correct output seems to be produced only with `--expire=-1`.

Usually only the lang

[2016-01-01 11:39] kohlhase opened #202 "\importmodule does not tolerate _ in module names"
```\importmodule{test_test}``` gives me the error.
[code]
Just run sTeX on
[code]
I am not sure where this comes from, I had suspected that we have to give the argument of ```\importmodule``` the type ```Semivarbatim``` or even ```TeXFileName```, but that did not really help.

[2016-01-01 11:39] kohlhase commented on #202
@dginev, could you have a look at this?

[2016-01-01 11:40] kohlhase commented on #202
this is important (priority) to me, since we need if of the OpenDreamKit flexiformalization of elliptic curves.

[2016-01-01 12:37] dginev commented on #202
Can you easily use underscores in the TeX implementation? I was left with the impression they remain active unless explicitly neutralized. Active underscores are easily one of the most common problems in Authorea as well btw.

[2016-01-01 12:38] kohlhase commented on #202
There does not seem to be a problem in sTeX here.

[2016-01-01 12:42] kohlhase commented on #202
But the only thing that is really happening is that the arguments are passed around to an ```\input``` eventually, and (in a way that I do not really understand) into macro names.

[2016-01-03 09:57] angerhang commented on #202
https://github.com/KWARC/LaTeXML/blob/master/lib/LaTeXML/Package/TeX.pool.ltxml#L3404-L3407
From this block, we can see that LaTeXML doesn't allow us to have `^` or `_` in a non-math block for the argument.

I can think of two possible workarounds:

I. a sketchy approach: explicitly silencing this error for sTeX, which however, might introduce other errors and make KWARC's LaTeXML deviate from Bru

[2016-01-03 10:03] dginev commented on #202
Right, you are pointing to the exact bit of code that triggers the error, when the underscore is expanded outside of math mode.

So the idea with the ```Semiverbatim``` parameter type is exactly to avoid that. It is a different reader than the ```Plain``` parameter one, which will slurp in characters a lot more leniently, and it would never treat the underscore as a primitive.

https://github.com/

[2016-01-03 10:10] dginev commented on #202
Btw, @kohlhase just a reminder that if you switch the ```\importmodule``` argument to Semiverbatim, you will no longer be able to expand macros in it, and I remember there used to be importmodule arguments that had macros (e.g. for instantiating the right relative path).

It may be better to use the dedicated [```TeXFileName```](https://github.com/KWARC/LaTeXML/blob/master/lib/LaTeXML/Package/TeX.

[2016-01-03 10:17] angerhang commented on #202
Right,
[code]
works on on
[code]
with no problem.

[2016-01-03 10:21] dginev commented on #202
Perfect, then there is probably 0 dev work to do here. I am still wondering if using ```TeXFileName``` isn't better than ```Semiverbatim``` in this case.

[2016-01-03 10:27] dginev commented on #202
Btw, @angerhang here is the intro-level documentation of binding "prototypes" where semiverbatim is briefly introduced: http://math.nist.gov/~BMiller/LaTeXML/manual/modules/LaTeXML_Package.html#SSx2.SSSx1.Px1

```TeXFileName``` is not present in these docs, so @brucemiller could tell us if that is an intended or unintended omission :> But it's in TeX.pool so we can certainly use it.

[2016-01-03 10:37] angerhang commented on #202
Yap thanks for the tip : )

but I don't know why Miko said neither `Semivarbatim` nor `TeXFileName` helped for him. Perhaps @kohlhase can also elaborate on this.

[2016-01-04 17:21] kohlhase commented on #202
I probably had some problems testing, I was wondering myself. Did you commit?

[2016-01-04 17:27] angerhang commented on #202
I haven't because Deyan and I were not sure if `Semivarbatim` or `TeXFileName` is better.

[2016-01-05 08:11] kohlhase commented on #202
I am not sure either, so let's just start with ```Semiverbatim``` and then escalate to ```TeXFileName``` when necessary.

[2016-01-05 08:12] kohlhase commented on #202
Note that we also need to do the same for ```\usemodule```.

[2016-01-05 11:13] brucemiller commented on #202
```TeXFileName``` is probably not what you want: it reads the filename the TeX way: w/o braces, up to a space, cr or comment and doesn't accept macros. ```Semiverbatim``` is more likely what you want: it neutralizes ```^,_,@,~,&,$,'``` and accepts control sequences and (depending on the caller) does accept expand them.

Note that up until a recent patch, ```%``` was also accepted, but that turns o

[2016-01-05 11:16] kohlhase commented on #202
Thanks to Bruce for the clarification. I had suspected something like this (you might still update the LaTeXML documentation though). And we definitely do not want ```TeXFileName``` it seems like.

[2016-01-05 13:23] dginev commented on #202
All clear, thanks for the details!

[2016-01-05 16:30] kohlhase commented on #202
@angerhang I have tested this with the modules at https://gl.mathhub.info/ODK/lmfdb/. And I am still getting script warnings. Could you please try as well? Just install them via ```lmh``` and that should be sufficient.

[2016-01-06 08:54] kohlhase opened #205 "weird intermittend error"
in ```MathHub/ODK/lmfdb/source/conductor.en.tex```, I get a fatal error every secondn time:
[code]
It seems to have to do with the line
[code]
If I comment this out, then success every time. Very weird.
@dginev I guess you should see this.

[2016-01-07 16:55] dginev commented on #205
If @angerhang could debug this to the internal bits of code that break, that would be amazing. I am back to full-time working hours now, so I'll have much smaller debugging windows for stex.

[2016-01-12 07:22] kohlhase commented on #205
yes, that is exactly the idea.

[2016-01-14 12:18] angerhang commented on #202
I tried to install the modules by `lmh install ODK` but I get parsing failure:
[code]

[2016-01-14 12:26] kohlhase commented on #202
this is a known issue of ```lmh```. Just use git clone directly. BUT I have renamed all files away from _ (to make progress), so you will have to make your own test cases I fear.

[2016-01-19 05:21] kohlhase opened #206 "clean up branches"
We need to clean up the branches in sTeX. We currently have more than 10, and most of them are stale.
```git branch -a``` give me the following list.
[code]
@angerhang Which of these can be removed from your point of view?
BTW, we can remove them with ```git push origin --delete <branch>``` I have already done so for two that I knew were obsolete

[2016-01-19 05:22] kohlhase commented on #195
This is one, I have removed all the LaTeXML stuff from the sTeX distribution.

[2016-01-19 05:22] #195 closed

[2016-01-19 05:23] kohlhase commented on #171
It should also reflect the new structure and document the fact that LaTeXML stuff is now in the plugin.

[2016-01-19 05:25] kohlhase commented on #196
the profiles are in the plugin now, they can be removed from the KWARC branch of LaTeXML, that is at least a good first step. @dginev, would you do that?

[2016-01-19 05:33] kohlhase commented on #196
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#14

[2016-01-19 05:33] #196 closed

[2016-01-19 05:35] kohlhase opened #207 "move LaTeXML issues to LaTeXML-Plugin-sTeX"
they are better there I will do that via the GIT Issue Mover.

[2016-01-19 05:35] kohlhase opened #208 "make a README.md"
need that and document the LaTeXML-Plugin-sTeX

[2016-01-19 06:18] kohlhase commented on #205
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#15

[2016-01-19 06:18] #205 closed

[2016-01-19 06:18] kohlhase commented on #202
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#16

[2016-01-19 06:18] #202 closed

[2016-01-19 06:18] kohlhase commented on #200
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#17

[2016-01-19 06:18] #200 closed

[2016-01-19 06:18] kohlhase commented on #199
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#18

[2016-01-19 06:18] #199 closed

[2016-01-19 06:20] kohlhase commented on #154
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#20

[2016-01-19 06:20] #154 closed

[2016-01-19 06:20] kohlhase commented on #181
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#21

[2016-01-19 06:20] #181 closed

[2016-01-19 06:20] kohlhase commented on #106
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#22

[2016-01-19 06:21] #106 closed

[2016-01-19 06:21] kohlhase commented on #100
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#23

[2016-01-19 06:21] #100 closed

[2016-01-19 06:21] kohlhase commented on #90
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#24

[2016-01-19 06:21] #90 closed

[2016-01-19 06:21] kohlhase commented on #71
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#25

[2016-01-19 06:21] #71 closed

[2016-01-19 06:21] kohlhase commented on #69
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#26

[2016-01-19 06:21] #69 closed

[2016-01-19 06:22] kohlhase commented on #55
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#27

[2016-01-19 06:22] #55 closed

[2016-01-19 06:22] kohlhase commented on #42
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#28

[2016-01-19 06:22] #42 closed

[2016-01-19 06:55] kohlhase commented on #38
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#30

[2016-01-19 06:55] #38 closed

[2016-01-19 06:55] kohlhase commented on #33
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#31

[2016-01-19 06:55] #33 closed

[2016-01-19 06:55] kohlhase commented on #13
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#32

[2016-01-19 06:55] #13 closed

[2016-01-19 06:56] kohlhase commented on #2
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#33

[2016-01-19 06:56] #2 closed

[2016-01-19 06:56] kohlhase commented on #192
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#34

[2016-01-19 06:56] #192 closed

[2016-01-19 06:56] kohlhase commented on #41
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#35

[2016-01-19 06:56] #41 closed

[2016-01-19 07:04] kohlhase commented on #152
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#36

[2016-01-19 07:04] #152 closed

[2016-01-19 07:04] kohlhase commented on #150
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#37

[2016-01-19 07:04] #150 closed

[2016-01-19 07:05] kohlhase commented on #135
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#38

[2016-01-19 07:05] #135 closed

[2016-01-19 07:05] kohlhase commented on #134
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#39

[2016-01-19 07:05] #134 closed

[2016-01-19 07:05] kohlhase commented on #113
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#40

[2016-01-19 07:05] #113 closed

[2016-01-19 07:05] kohlhase commented on #112
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#41

[2016-01-19 07:05] #112 closed

[2016-01-19 07:05] kohlhase commented on #48
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#42

[2016-01-19 07:05] #48 closed

[2016-01-19 07:06] kohlhase commented on #35
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#43

[2016-01-19 07:06] #35 closed

[2016-01-19 07:06] kohlhase commented on #34
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#44

[2016-01-19 07:06] #34 closed

[2016-01-19 07:06] kohlhase commented on #31
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#45

[2016-01-19 07:06] #31 closed

[2016-01-19 07:06] kohlhase commented on #25
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#46

[2016-01-19 07:06] #25 closed

[2016-01-19 07:06] kohlhase commented on #24
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#47

[2016-01-19 07:06] #24 closed

[2016-01-19 07:07] kohlhase commented on #20
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#48

[2016-01-19 07:07] #20 closed

[2016-01-19 07:07] kohlhase commented on #138
This issue was moved to KWARC/localmh#282

[2016-01-19 07:07] #138 closed

[2016-01-19 08:18] kohlhase commented on #208
done a minimal one.

[2016-01-19 08:18] #208 closed

[2016-01-19 08:21] kohlhase opened #209 "move all the sTeX light stuff into LaTeXML-Plugin-sTeX-experimental"
We should move ```htmltest``` subdir to the LaTeXML-Plugin-sTeX-experimental, see also https://github.com/KWARC/LaTeXML-Plugin-sTeX/issues/50

[2016-01-19 10:00] cmaeder commented on #201
I think, this can be closed. (Failing tests are another problem.)

[2016-01-19 10:00] #201 closed

[2016-01-20 17:26] m-iancu opened #210 "Assertion with 2 CMPs"
The assertion
[code]
from  `ODK/lmfdb/source/endomorphism-ring.en.tex` produces in the omdoc two `CMP` elements the first of which is empty. It might have somthing to do with the `\guse` command. The generated result is below:
[code]
 This confuses the stex-importer which ends up using the first (empty) CMP and therefore ignore the actual content.

[2016-01-20 17:29] kohlhase commented on #210
Interesting, I will have a look. @angerhang, could you also have a look? This is quite urgent.

[2016-01-20 17:34] kohlhase commented on #210
This issue was moved to KWARC/LaTeXML-Plugin-sTeX#52

[2016-01-20 17:34] #210 closed

[2016-01-20 17:34] kohlhase commented on #210
That was the wrong repos :-).

[2016-01-22 06:00] angerhang commented on #206
[code]
can be safely deleted which already has be done.

[2016-01-22 06:07] angerhang commented on #206
As for `new_html`, `html`, `content_mathml` and `new_content_mathml`, the `new_` branches are continuations of old works, which move over almost all the changes from the old branches.

The html and CML branches aren't stable yet, so  we might want to keep them all for now.

[2016-01-22 07:55] kohlhase commented on #206
Ah, I just realize that these branches are obsolete on the sTeX repository in the sense that they only concern the LaTeXML side. What we need to to is to see what the changes are, see which ones are still relevant, and make new branches at https://github.com/KWARC/LaTeXML-Plugin-sTeX/ that contain the relevant parts of the changes and then remove them here.
@angerhang, could you do that?

[2016-01-22 11:36] angerhang commented on #206
Currently is there any dependency between LaTeXML-Plugin-sTeX and the experimental plugin? Or do we have to manually sync these two repositories?

If there is no dependency,  I suppose we should move all the relevant changes into both the plug-in and the experimental one right by creating new branches right?

 This is also related to #209.

[2016-01-22 11:39] kohlhase commented on #206
Actually you are right, I did not think. For the content MathML stuff we should probably make a branch of LaTeXML-Plugin-sTex.  For the sTeX-light stuff I am not sure we may even want to make a different plugin? @dginev, what do you think?

[2016-01-30 13:18] #207 closed

[2016-01-30 13:19] kohlhase commented on #193
this seems essentially done.

[2016-01-30 13:19] #193 closed

[2016-01-30 13:20] kohlhase opened #211 "\atrefi* does not make hyperlinks."
The result should be like `\trefi*`.

[2016-01-30 14:17] kohlhase opened #212 "\mhinputref{foo} followed by \inputmhmodule{foo}"
In   ```~/localmh/MathHub/MiKoMH/TDM/source/digdocs/fragments/markup.tex``` (reinstate the commented-out parts) we have a deep importmodule recursion. I think this is a bug in sTeX loading, since when I load the problematic file ```MiKoMH/talks/source/omdoc/en/markup_styles.tex``` alone nothing goes wrong. But in context of the file above it does. I suspect the problem is that we have a ```\mhinpu

[2016-02-04 11:01] kohlhase opened #213 "for attribute for n-th (n>1) definition wrong"
The ```for``` attribute of a ```definition``` element should reference all the symbols defined in this definition (and only these). They should be generated by the ```\defi*``` (and friends) in the definition body.

Unfortunately, the sTeX plugin generates these wrong, for second and later definitions it also includes the symbols from the previous definitions. For instance in ```graphs/source/grap

[2016-02-04 11:04] kohlhase commented on #213
Sorry, this belongs into the LaTeXML plugin; moving

[2016-02-04 11:04] #213 closed

[2016-02-09 05:34] kohlhase commented on #212
this turned out a bug where ```\usemodule``` re-exported which led to cycles. Fixed.

[2016-02-09 05:34] #212 closed

[2016-02-09 05:58] kohlhase commented on #206
what is the state here?

[2016-02-09 08:48] angerhang commented on #206
I just moved over the new-cmml branch and we are left with:
[code]
We can possibly get rid of  `origin/content_mathml` since all the changes have been merged to the plug-in as well. You will probably have a better idea of how to deal with the rest.

[2016-02-09 20:31] angerhang commented on #209
Miko can you give me the push rights to LaTeXML-Plugin-sTeX-experimental?
I don't I think push now.

[2016-02-10 05:32] kohlhase commented on #209
I think I have done that, please try.

Michael

On 09/02/16 21:31, angerhang wrote:

--
----------------------------------------------------------------------
 Prof. Dr. Michael Kohlhase,        Office: Research 1, Room 168
 Professor of Computer Science  Campus Ring 1,
 Jacobs University Bremen           D-28759 Bremen, Germany
 tel/fax: +49 421 200-3140/-493140  skype: mibein42
 m.kohlhase@jacob

[2016-02-10 07:39] angerhang commented on #209
Now it works. Thanks.

[2016-02-10 21:30] angerhang commented on #206
All branches remained are from LaTeX side, closing.

[2016-02-10 21:30] #206 closed

[2016-02-10 21:31] angerhang commented on #209
Done.

[2016-02-10 21:31] #209 closed

[2016-03-23 06:18] kohlhase commented on #188
Actually, it should be used everywhere, it is a surprise that ```modnl``` actually works in smglom.

[2016-03-23 06:20] kohlhase commented on #83
The current state is that I am using ```\defi*s``` and ```\trefi*s``` for simple plurals and ```\ad/trefi``` for everything else. I think this is good enough, closing.

[2016-03-23 06:20] #83 closed

[2016-03-23 06:21] kohlhase commented on #50
I think this is no longer releavnt

[2016-03-23 06:21] #50 closed

[2016-03-23 19:01] kohlhase opened #214 "when files are loaded twice, we generate duplicate labels."
I guess this is OK, but the error messages are a bit annoying.

[2016-03-31 06:05] kohlhase opened #215 "rethink referencing of trefis in book context"
Currently, we generate hyperlinks for any `\*trefi*` that go to the standalone versions of the modules. These are what you get, when you run pdflatex over the modules themselves (on the local file system).
This kind of works in the workflow where you develop/debug sTeX modules on the local file system.

It is clearly inadequate for a generating PDF slides for a course. There you want to have inter

[2016-04-06 15:22] kohlhase commented on #215
I have re-implemented referencing for PDF so that ```\*trefi*``` references the defining occurrences in the respective book. This seems to be working nicely. Now we should also implement this for "books".

[2016-04-06 16:14] kohlhase commented on #215
external references for ```\*trefi*``` do not work for PDF at all, and it is quite unclear where they should go. For MH-encoded sTeX we at least have a relative path that could be used for referencing. Together with the XML Base (see https://github.com/KWARC/LaTeXML-Plugin-sTeX/issues/65) this might be all we need (but we may want to be able to configure whether we want to reference PDF or HTML do

[2016-04-07 09:05] kohlhase opened #216 "move \inputref from modules to omdoc"
It really belongs into the latter. But there are dependencies.

[2016-04-07 09:38] kohlhase opened #217 "remove the zip files from the repository"
We currently have the sTeX.ctan.zip in the repository, which makes it big and clumsy. As we can re-generate it with a ```make ctan``` at any time, it should not be committed. Using http://dalibornasevic.com/posts/2-permanently-remove-files-and-folders-from-a-git-repository
we can remove it.

[2016-04-07 09:47] kohlhase opened #218 "rework the Makefiles in lib/make for the new latexml plugin."
they are probably outdated.

[2016-04-07 11:18] kohlhase commented on #217
and also remove the ```lib/FandolFang-Regular.otf``` and ```lib/cwTeXQKai-Medium.ttf``` as well, they are huge.

[2016-04-07 15:03] #217 closed

[2016-04-07 15:04] #188 closed

[2016-04-07 15:05] kohlhase commented on #171
almost done, I just need some abstracts for the packages.

[2016-04-07 15:05] #171 closed

[2016-04-07 15:05] kohlhase commented on #109
I guess that is not a priority any more.

[2016-04-07 15:05] #109 closed

[2016-04-07 15:06] #56 closed

[2016-04-07 15:06] #64 closed

[2016-04-23 09:20] kohlhase opened #219 "pmrow in presentation.sty does not work with symdef robustification"
In [presentation.dtx](sty/core/presentation/presentation.dtx) we use

[code]

which works really well alone (I adapted the code from the net somewhere) but used inside a symdef
as in `MathHub/smglom/linear-algebra/source/matrix.tex` it gives errors. The cause for this is using the `\newrobustcmd` in `\symdef`. This can be recreated with

[code]

There must be a way to fix this. BTW, this probably

[2016-04-27 12:12] kohlhase opened #220 "piecewise notation swallows argument"
In ```.../MathHub/smglom/mv/source/piecewise.tex``` we have
[code]
which generates the notation definition
[code]
This is wrong, instead of ```<m:mtr/>``` it should be
[code]
there is also an error that seems to describe what is happening:
[code]

[2016-04-27 12:21] angerhang commented on #220
Shouldn't this be moved to `LaTeXML-Plugin-sTeX` tracker?

[2016-04-27 13:18] kohlhase commented on #220
Indeed. Sorry Could you?

[2016-04-27 13:20] kohlhase commented on #220
I am not even sure that the LaTeX is what it should be.
I am currently looking at using a more standard "associative argument" markup:
[code]
and that generates
[code]
which looks a bit better. But it does not work at all in the PDFLaTeX case, and there are quite a few schema errors in the LaTeXML case as well.

I have the feeling that this will be the more fruitful avenue.

[2016-04-27 15:51] angerhang commented on #220
Wrong place, copying over to https://github.com/KWARC/LaTeXML-Plugin-sTeX/issues/92.

Closing..

[2016-04-27 15:51] #220 closed

[2016-05-11 09:02] kohlhase opened #222 "arguments of gviewnl are misdesigned"
We have

[code]

like `\gviewsig`, and have implemented independent deloading. But (like `\begin{gmodnl}{name}{lang}` we should just load the corresponding file `name.tex`. This also needs to be fixed in LaTeXML.

[2016-05-11 09:09] cmaeder commented on #222
`gmodnl` is new to me (I only see i.e. `\begin{gstructure}{add}{cgroup}`)

[2016-05-11 09:10] cmaeder commented on #222
Maybe you meant `mhmodnl`?

[2016-05-11 09:11] kohlhase commented on #222
indeed I did

[2016-05-11 11:12] kohlhase commented on #222
Hmmm, I am not sure that this is easy to implement, I tried, and there are problems. For instance, if we leave out the {from} and {to} arguments, we have to get them from the signature somehow, and that opens timing problems.

[2016-05-11 12:12] kohlhase commented on #222
i think I know how to do this:
when we expand
[code]
we input (like in ```\requiremodules{name}```. We update the code for ```\begin{view}``` to define token registers ```\views@<name>@from```, ```\views@<name>@to```, ```\views@<name>@frompath```, and ```\views@<name>@topath``` then we can use those to look up the values we need to proceed in ```gviewnl```. And then we can "activate" the view inpu

[2016-05-11 13:37] kohlhase commented on #222
OK, on (my currently local) ```gviewnl``` branch I have achieved the token registers.
I think we can use ```\requiremodules``` directly.